---
import { Icon } from "astro-icon/components";
import { getFooterContent } from "../../../utils/sanityClient"
const data = await getFooterContent();
// console.log(data)
---
<footer class="footer">
  <div class="footer-inner">

    <div class="footer-content">

      <div class="footer-main">
        <Icon name="domaine-icon" class="logo" />
        {data.newsletterFormId && data.newsletterText &&
          <div class="newsletter">
            <p class="newsletterText h3">{data.newsletterText}</p>
            <div 
              id="newsletter-form" 
              data-hubspot-form-id={data.newsletterFormId}
              data-animate-viewport="true"
              data-animate-style="fade"
              data-animate-delay="200"
            ></div>
          </div>
        }
      </div>

      <div class="footer-links">
        <div class="primary-links">
          {data.links.map((link, i) => {
            return (
              <a class="footer-link" href={link.linkURL} target={link.newTab ? "_blank" : "_self"}>{link.linkText}</a>
            )
          })}
        </div>
        <div class="contact-links">
          {data.email && data.emailLabel && <a href={data.email}>{data.emailLabel}</a>}
          {data.phone && data.phoneLabel && <a href={data.phone}>{data.phoneLabel}</a>}
        </div>
      </div>

    </div>

    <div class="subfooter">
      <div class="secondary-links">
        {data.secondaryLinks.map((link, i) => {
          return (
            <a class="secondary-link caption" href={link.linkURL} target={link.newTab ? "_blank" : "_self"}>{link.linkText}</a>
          )
        })}
      </div>
      <p class="copyright caption">{data.copyright}</p>
    </div>
  </div>
</footer>


<script>

  declare global {
      interface Window {
          hbspt:any;
      }
  }

  const buildForm = () => {

      const form: HTMLElement = document.querySelector("#newsletter-form")

      if (form && window.hbspt) {
        window.hbspt.forms.create({
            region: "na1",
            target: "#newsletter-form",
            portalId: "41750854",
            formId: form.dataset.hubspotFormId,
        });
      } else {
        console.log(window)
      }
  }

  // document.addEventListener("DOMContentLoaded", () => {
  //   buildForm()
  // })

  document.addEventListener("astro:page-load", () => {
    buildForm()
  })

</script>


<style>
  .footer {
    padding: 0 var(--page-margin);
  }

  .footer-inner {
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: var(--space-xs);
    min-height: 50svh;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--space-2xl) 0 var(--space-3xl);
    flex-grow: 1;
    gap: var(--space-md);
  }

  .footer-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-md);
    /* max-width: 500px; */
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2xs);
    flex: 0 0 auto;
    /* width: 100%; */
    /* max-width: 40em; */
  }

  .newsletterText {
    max-width: 10em;
  }

  #newsletter-form {
    max-width: 30em;
  }

  .logo {
    width: auto;
    height: 30px;
  }

  .copyright {
    color: var(--color-foreground-secondary);
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    gap: var(--space-3xl);
  }

  .primary-links,
  .contact-links {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .subfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--space-lg);
  }

  .secondary-links {
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
  }

  @media screen and (max-width: 678px) {
    .footer-inner {
      min-height: 90svh;
      /* padding: var(--space-md) 0 20svh; */
      /* flex-direction: column-reverse; */
      /* align-items: flex-start; */
    }

    .footer-content {
      flex-direction: column;
      justify-content: flex-start;
      gap: var(--space-3xl);
      /* flex-grow: 0; */
    }

    .subfooter {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-lg);
      padding-bottom: 15svh;
    }
  }
</style>