---
import { Icon } from "astro-icon/components"
const { brands, currentBrand, brandIndex } = Astro.props
// console.log(brands)
---
<div id="brand-toggle" class="brand-toggle glass-dark" style={`--brand-count: ${brands.length}; --current-index: ${brandIndex}`}>
    <div class="brands" data-brand={currentBrand.slug.current}>
        <a href={brands[brandIndex].path} class="brand-link" data-active="true">
            <Icon class="logo" name={brands[brandIndex].logo} />
            <div class="brand-details">
                <p class="brand-description caption">{brands[brandIndex].description}</p>
            </div>
        </a>
        {brands.map((brand, i) => {
            if (brandIndex != i) return (
                <a href={brand.path} class="brand-link">
                    <Icon class="logo" name={brand.logo} />
                    <div class="brand-details">
                        <p class="brand-description caption">{brand.description}</p>
                    </div>
                </a>
            )
        }
        )}
    </div>
    <a href={brands[brandIndex].path} class="brand-link--mobile">
        <Icon class="logo" name={brands[brandIndex].logo} />
    </a>
    <div class="icon-expand">
        <span class="expand-line"></span>
        <span class="expand-line"></span>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", async () => {

        const brandMenu: HTMLElement = document.getElementById('brand-toggle');

        brandMenu.addEventListener("mouseenter", () => {
            brandMenu.classList.add("active")
        })

        brandMenu.addEventListener("mouseleave", () => {
            brandMenu.classList.remove("active")
        })

    })
</script>


<style>


    @media screen and (width > 768px) {

        .brand-toggle {
            --anim-begin: 0.4s;
            --anim-step-1: 0.8s;
            --anim-step-2: 1.0s;
            border-radius: var(--radius-sm);
            height: var(--header-element-height);
            overflow: clip;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-self: flex-start;
            transition: 
                background-color var(--anim-sm),
                height var(--anim-sm);
        }

        .brand-toggle.active {
            height: calc( var(--header-element-height) * 4 + var(--space-2xs) * 2);
            background-color: var(--color-lighter);
            transition: 
                background-color var(--anim-md),
                height var(--anim-sm) var(--anim-step-1);
        }

        .brands {
            padding: var(--space-2xs);
        }

        .brand-link {
            text-decoration: none;
            color: var(--color-darkest);
            padding: 0 var(--space-xs);
            height: calc( var(--header-element-height) - var(--space-2xs) * 2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: flex-start; */
            align-items: center;
            gap: 0;
            border-radius: var(--radius-sm);
            width: auto;
            opacity: 0;
            transition: 
                flex-basis var(--anim-sm),
                height var(--anim-sm),
                gap var(--anim-sm), 
                color var(--anim-sm), 
                opacity var(--anim-sm), 
                background-color var(--anim-sm);
        }

        .brand-toggle.active .brand-link {
            height: calc(var(--header-element-height) * 2);
            color: var(--color-darkest);
            gap: var(--space-xs);
            opacity: 1;
            transition: 
                height var(--anim-sm) var(--anim-step-1),
                gap var(--anim-sm) var(--anim-step-1), 
                opacity var(--anim-lg) var(--anim-step-1), 
                color var(--anim-lg), 
                background-color var(--anim-md);
        }

        .brand-link:hover {
            color: var(--color-darkest);
            background-color: var(--color-lightest);
        }

        .brand-link[data-active="true"] {
            opacity: 1;
            color: var(--color-lightest);
        }

        .brand-link .brand-details {
            opacity: 0;
            visibility: hidden;
            color: var(--color-dark);
            overflow: hidden;
            display: grid;
            grid-template-columns: 0fr;
            grid-template-rows: 0fr;
            min-height: 0px;
            margin: 0;
            padding: 0;
            text-align: center;
            transition: 
                opacity var(--anim-sm),  
                grid-template-columns var(--anim-md) 0.2s,
                grid-template-rows var(--anim-md),
                flex-basis var(--anim-sm);
        }

        .brand-toggle.active .brand-details {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            opacity: 1;
            visibility: visible;
            transition: 
                grid-template-columns var(--anim-md) var(--anim-begin),
                flex-basis var(--anim-md) var(--anim-begin),
                grid-template-rows var(--anim-sm) var(--anim-step-1),
                opacity var(--anim-lg) var(--anim-step-2);
        }

        .brand-description {
            margin: 0;
            padding: 0;
            min-height: 0;
        }

        .brand-link--mobile {
            display: none;
        }
    }

    @media screen and (width <= 768px) {

        .brand-toggle {
            display: flex;
            justify-content: stretch;
            align-items: stretch;
            flex-direction: column;
            background-color: transparent;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            height: var(--header-height);
        }

        .brands,
        .icon-expand {
            display: none;
        }

        .brand-link--mobile {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            padding-block: var(--space-md);
        }

        .brand-link--mobile .logo {
            flex-grow: 1;
            max-height: 100%;
            width: auto;
        }
        
    }

</style>