---
import { urlFor, getServiceDeliverables, getServices, getDeliverables, getServiceCategoryGroup } from "../../../utils/sanityClient"
import ArrowLink from "../../atoms/ArrowLink.astro";
import SanityImage from "../../atoms/SanityImage.astro";

const { content } = Astro.props;

// console.log(content.service)

let columns = {}

if (content.service) {
  const data = await getServiceDeliverables(content.service._id)

  data.forEach((deliverable) => {
    if (columns[deliverable.category]) {
      return columns[deliverable.category].push(deliverable)
    }
    return columns[deliverable.category] = [ deliverable ];
  })
} else {

  const deliverables = await getDeliverables()
  // console.log(deliverables[0].name)

  deliverables.forEach((deliverable) => {
    if (columns[deliverable.category.service.name]) {
      return columns[deliverable.category.service.name].push(deliverable)
    }
    return columns[deliverable.category.service.name] = [ deliverable ];
  })
}

---
<section class="service-detail" id={content.id}>
  <div class="section-intro">
    <div class="image">
      <SanityImage 
        image={content.image}
        sizes="50vw, (max-width: 768px) 100vw"
        aspectRatio={3 / 2}
      />
    </div>
    <div class="section-title">
      <h2 class="h5">{content.eyebrow ? content.eyebrow : content.service ? content.service.name : "Services"}</h2>
      <p class="h3">{content.heading}</p>
      { content.button && content.button.text && content.button.url && <ArrowLink text={content.button.text} url={content.button.url} />}
    </div>
  </div>

  <div class="section-details">
    <p class="category-description h6">{content.description}</p>
    <div class="deliverable-categories">
      {Object.keys(columns).map((category) => {
        return (
          <div class="deliverable-category">
            <p class="category-name utility">{category}</p>
            <ul class="deliverables">
              {columns[category].map((deliverable) => {
                return (
                  <li class="deliverable caption">{deliverable.name}</li>
                )
              })}
            </ul>
          </div>
        )
      })}
    </div>
  </div>
</section>

<style>
  .service-detail {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-2xl);
    padding: var(--header-height) var(--page-margin-narrow) var(--space-2xl);
  }

  .section-intro {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: var(--space-lg);
  }

  .section-title {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .image {
    flex: 0 0 50%;
    height: auto;
    border-radius: var(--radius-lg);
    overflow: hidden;
  }

  .section-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    /* justify-content: space-between; */
    gap: var(--space-3xl);
  }
  
  .category-description {
    /* flex: 0 1 50%; */
    max-width: 40ch;
    flex: 1 1 50%;
  }

  .deliverable-categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--space-xl);
    flex: 1 1 50%;
  }

  .category-name {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--space-xs);
  }

  .deliverable-category {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    flex: 0 1 50%;
    gap: var(--space-sm);
    min-width: 15ch;
    /* max-width: 40ch; */
  }

  .deliverables {
    padding: 0 var(--space-md) 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .deliverable {
    list-style: none;
  }

  @media screen and (max-width:960px) {

    .section-intro {
      flex-direction: column-reverse;
      align-items: stretch;
    }

    .image {
      flex: 0 0 auto;
      width: auto;
    }

    .section-details {
      flex-direction: column;
      gap: var(--space-lg);
    }

    .category-description {
      /* flex: 0 1 50%; */
      max-width: unset;
    }

    .deliverable-categories {
      /* flex-direction: column; */
      flex-wrap: wrap;
    }

    .deliverable-category {
      flex: 1 0 auto;
      gap: var(--space-sm);
      min-width: unset;
      /* max-width: 40ch; */
    }
  }

</style>