---
import { agencyBrandsQuery, practicesQuery } from "../utils/cms-queries"
import GlobalPracticeCard from "./global-practiceCard.astro"
import { agencyBrands, practices } from "../utils/cms-content";
---
<div class="practices-grid">
  <div class="agency-brands">
      {agencyBrands.data.map((brand, i) => (
          <GlobalPracticeCard 
              title={brand.title}
              heading={brand.excerpt}
              media={brand.thumbnailMedia}
              slug={brand.slug}
              isAgencyBrand={true}
              logo={brand.logo}
          />
      ))}
  </div>
</div>


<style>
  .practices-grid {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      gap: var(--space-xs);
  }

  .agency-brands {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex: 0 1 75%;
      gap: var(--space-xs);
  }

  @media screen and (width <= 768px) {
    .practices-grid {
      flex-direction: column;
    }
  }
</style>