---
import AtomServiceLink from "../atoms/atom-serviceLink.astro"
import { Brands } from "../../../enums/brands"

const { serviceGroup, brand } = Astro.props
---
<section class="service-group-hero">
    <div class="breadcrumbs">
        <a class="h5" href={`${brand === Brands.STUDIO ? "/studio" : ""}/services/`}>Services</a> /
        <a href={`${brand === Brands.STUDIO ? "/studio" : ""}/services/${serviceGroup.serviceType.slug.current}`} class="h5">{serviceGroup.serviceType.title}</a>
    </div>
    <h1>{serviceGroup.title}</h1>
    {serviceGroup.description && <p>{serviceGroup.description}</p>}
    {serviceGroup.services.map((service) => (
        <AtomServiceLink 
            title={service.title}
            url={`${brand === "studio" ? "/studio" : ""}/services/${serviceGroup.serviceType.slug.current}/${service.slug.current}`}
            excerpt={service.excerpt}
            isHidden={service.isHidden}
        />
    ))}
</section>

<style>
    .service-group-hero {
        padding-inline: var(--page-margin);
        padding-block: var(--header-height) var(--space-lg);
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }

    .breadcrumbs {
        display: flex;
        flex-direction: row;
        gap: var(--space-xs);
    }
</style>