---
import AtomTag from "../atoms/atom-tag.astro";
import AtomSanityImage from "../atoms/atom-sanityImage.astro";
import { getServiceTypes_Studio, getServiceTypes_Domaine } from "../utils/cms-content";
import { Icon } from "astro-icon/components";

const { section, brand, key } = Astro.props

const serviceTypes = brand === "studio" ? await getServiceTypes_Studio() : await getServiceTypes_Domaine()
---
<section class="section-services-feed" id={`section-services-feed-${key}`}>

    <div class="section-content">
        <div class="section-title">
            <h2 class="heading h5">{section.heading}</h2>
            {section.subheading && <p class="subheading">{section.subheading}</p>}
        </div>
        <div class="service-types">
            {serviceTypes.map((serviceType, i) => (
                <div class="service-type">
                    <a 
                        class="service-type__button h1" 
                        data-animate-viewport="true"
                        data-animation="fade"
                        data-animation-delay={i * 200}
                        data-slug={serviceType.slug.current}
                        href={serviceType.isHidden ? null : `/services/${serviceType.slug.current}`}
                    >
                        {serviceType.title}
                        
                        <span><Icon name="arrow-diagonal" class="service-type__icon" /></span>
                        <div class="service-type__description h6">{serviceType.excerpt}</div>
                    </a>

                    <div class="services">
                        <div 
                            class="service-type__groups" 
                            data-slug={serviceType.slug.current}
                            data-active="false"
                        >
                            {serviceType.serviceGroups.map((serviceGroup) => (
                                <div class="service-type__group">
                                    <div class="service-type__services">
                                        <a 
                                            class="service-type__group-title h6" 
                                            href={serviceGroup.isHidden ? null : `${brand === "studio" ? "/studio": ""}/services/${serviceType.slug.current}/${serviceGroup.slug.current}`}
                                        >{serviceGroup.title}</a>
                                        {serviceGroup.services.map((service, i) => (
                                            <AtomTag 
                                                text={service.title}
                                                url={service.isHidden ? null : `${brand === "studio" ? "/studio": ""}/services/${serviceType.slug.current}/${service.slug.current}`}
                                            />
                                        ))}
                                    </div>
                                </div>
                            ))}
                        </div>
                    </div>
                </div>
                <div class="section-media"
                    data-animate-viewport="true"
                    data-animation="fade"
                    data-animation-delay={400}
                >
                    {serviceType.images.slice(0, 4).map((imageObject) => (
                        <div 
                            class="service-image"
                        >
                            <AtomSanityImage 
                                image={imageObject.image}
                                sizes="30vw"
                                cover={true}
                            />
                        </div>
                    ))}
                </div>
            ))}
        </div>
    </div>

</section>

<style>
    .section-services-feed {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--space-2xl);
        padding-inline: var(--page-margin);
        padding-block: var(--space-xl) 20lvh;
        /* min-height: 100lvh; */
        position: relative;
    }

    .section-title {
        display: grid;
        grid-column: 1 / span 2;
        grid-template-columns: 1fr 2fr;
    }

    .heading,
    .subheading {
        color: var(--color-background);
        mix-blend-mode: difference;
        max-width: 20em;
    }

    .section-content {
        display: grid;
        grid-template-columns: var(--grid-template-default);
        gap: var(--space-2xl) 0;
    }

    .service-types {
        display: grid;
        grid-template-columns: subgrid;
        text-align: left;
        grid-column: 1 / span 2;
    }

    .service-type {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / span 2;
        /* z-index: 3; */
    }
    
    .service-type__icon {
        width: 0.7em;
        margin-left: 0.2em;
        height: auto;
    }

    .service-type__description {
        color: var(--color-foreground-secondary);
        margin-top: 0.5em;
    }

    .service-type__button {
        margin: 0;
        transition: opacity var(--anim-md);
        padding-block: 0 0.4em;
        background-color: transparent;
        text-decoration: none;
    }



    .services {
        position: relative;
    }

    .service-type__groups {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 40rem;
        opacity: 0;
        translate: 0 0.5em;
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);
        transition: opacity var(--anim-sm), translate var(--anim-sm);
        pointer-events: none;
        padding-block: 0 var(--space-lg);
    }

    .service-type__group {
        display: flex;
        align-items: flex-start;
        gap: var(--space-2xs);
    }

    .service-type__group-title {
        flex: 0 0 100%;
        text-decoration: none;
    }

    .service-type__services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: var(--space-2xs);
    }

    .section-media {
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        aspect-ratio: 16 / 9;
        justify-items: flex-end;
        justify-items: stretch;
        align-items: stretch;
        z-index: -1;
        pointer-events: none;
    }

    /* First Service */
    .section-media:nth-of-type(8n + 2) .service-image:nth-child(3n + 1) {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .section-media:nth-of-type(8n + 2) .service-image:nth-child(3n + 2) {
        grid-column: 5 / span 1;
        grid-row: 1 / span 1;
    }

    .section-media:nth-of-type(8n + 2) .service-image:nth-child(3n + 3) {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    /* Second Service */
    .section-media:nth-of-type(8n + 4) .service-image:nth-child(3n + 1) {
        grid-column: 6 / span 1;
        grid-row: 1 / span 1;
    }

    .section-media:nth-of-type(8n + 4) .service-image:nth-child(3n + 2) {
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
    }

    .section-media:nth-of-type(8n + 4) .service-image:nth-child(3n + 3) {
        grid-column: 4 / span 1;
        grid-row: 3 / span 1;
    }

    /* Third Service */
    .section-media:nth-of-type(8n + 6) .service-image:nth-child(3n + 1) {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .section-media:nth-of-type(8n + 6) .service-image:nth-child(3n + 2) {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .section-media:nth-of-type(8n + 6) .service-image:nth-child(3n + 3) {
        grid-column: 5 / span 1;
        grid-row: 3 / span 1;
    }

    /* Fourth Service */
    .section-media:nth-of-type(8n + 8) .service-image:nth-child(3n + 1) {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
    }

    .section-media:nth-of-type(8n + 8) .service-image:nth-child(3n + 2) {
        grid-column: 6 / span 1;
        grid-row: 2 / span 1;
    }

    .section-media:nth-of-type(8n + 8) .service-image:nth-child(3n + 3) {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
    }

    .service-image {
        width: 100%;
        height: 100%;
        min-width: 0;
        min-height: 0;
        object-fit: cover;
        pointer-events: none;
        /* opacity: 0; */
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        transition: opacity var(--anim-md), clip-path var(--anim-md);
        transition-delay: 0.15s;
    }


    @media screen and ( width > 768px) {

        .service-type__button:hover + .services .service-type__groups,
        .service-type__groups:hover {
            translate: 0 0;
            opacity: 1;
            z-index: 3;
        }

        .service-type__button:hover + .services > .service-type__groups,
        .service-type__groups:hover {
            pointer-events: all;
        }

        .service-type:has(.service-type__button:hover, .service-type__groups:hover) + .section-media > .service-image {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        /* Default visible images */
        .service-types:not(:has(.service-type__button:hover, .service-type__groups:hover)) :is(
            .section-media:nth-of-type(8n + 2) > .service-image:nth-child(3n + 2),
            .section-media:nth-of-type(8n + 4) > .service-image:nth-child(3n + 2),
            .section-media:nth-of-type(8n + 6) > .service-image:nth-child(3n + 3)) {
            /* opacity: 1; */
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        /* Style unhovered service titles */
        .service-types:has(.service-type__button:hover, .service-type__groups:hover) .service-type:not(:has(:hover, .service-type__groups:hover)) .service-type__button {
            opacity: 0.5;
        }

        .service-type__description,
        .service-type__icon {
            display: none;
        }
    }

    @media screen and ( width <= 768px) {

        .section-title {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
        }

        .heading,
        .subheading {
            max-width: 30em;
        }

        .section-media {
            display: none;
        }

        .section-content {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .service-type {
            display: flex;
            flex-direction: column;
        }

        .service-type__groups {
            position: relative;
            opacity: 1;
            translate: 0 0;
            pointer-events: all;
            display: none;
        }

        .service-types {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
            max-width: 40rem;
            align-self: flex-end;
        }

        .service-type__services {
            /* flex-wrap: nowrap; */
            /* align-items: flex-start;
            gap: var(--space-2xs); */
        }
    }
</style>