---
import { sanityClient } from "sanity:client";
import BlogCard from "../blog/global-BlogCard.astro";
import { blogCardFields } from "../utils/cms-queries"


const { section, brand, heading, subheading, posts } = Astro.props

let blogPosts

if (section && section.blogPosts) {
    blogPosts = section.blogPosts
} else if (posts) {
    blogPosts = posts.slice(0, 3)
} else {
    blogPosts = await sanityClient.fetch(`*[_type == "type_blog" && agencyBrand->slug.current == "${brand}" ]{ ${blogCardFields} } | order( postDate desc)[0...3]`)
}

// console.log(blogPosts)
---
{(!section || section.showSection) && 
    <section class="section-blog-feed">
        <div class="section-title">
            <h2>{(section && section.heading) ? section.heading : heading ? heading : "Insights"}</h2>
            {((section && section.subheading) || subheading ) && <p>{(section && section.subheading) ? section.subheading : subheading}</p>}
        </div>
        <div class="section-content">
            {blogPosts.map((post) => (
                <BlogCard 
                    title={post.title}
                    thumbnailImage={post.thumbnailImage}
                    slug={post.slug}
                    category={post.category}
                    agencyBrand={post.agencyBrand}
                />
            ))}
        </div>
    </section>
}

<style>
    .section-blog-feed {
        padding-inline: var(--page-margin);
        padding-block: var(--space-lg);
    }

    .section-content {
        display: flex;
        flex-direction: row;
        gap: var(--space-sm);
    }
</style>