---
import AtomSanityImage from "../atoms/atom-sanityImage.astro"
import AtomButton from "../atoms/atom-button.astro"
import { getClients_Domaine, getClients_Studio } from "../utils/cms-content"
import { getRawSvg } from "../utils/raw-svg"

const { section, brand, key } = Astro.props

let quoteClientLogo

const clients = await Promise.all(section.clients.map( async (client) => {
    const clientData = { ...client, logoSvg: await getRawSvg(client.logo)}
    return await clientData
}))

if (section.quoteClient) {
    quoteClientLogo = await getRawSvg(section.quoteClient?.logo)
}
---
<section class="section-text-clients">
    <div 
        class="section-title"
        data-animate-viewport="true"
        data-animation="fade-up"
    >
        {section.eyebrow && <p class="eyebrow utility">{section.eyebrow}</p>}
        <h2 class="heading h3">{section.heading}</h2>
    </div>
    <!-- <div class="client-logos"> -->
        <div 
            class="logo-track"
        >
            {clients.map((client, i) => (
                <div class="logo" style={`--width-offset: ${client.logoScale};`}>
                    <Fragment set:html={client.logoSvg} />
                </div>
            ))}
            {clients.map((client, i) => (
                <div class="logo" style={`--width-offset: ${client.logoScale};`}>
                    <Fragment set:html={client.logoSvg} />
                </div>
            ))}
            <!-- {clients.map((client, i) => (
                <a href="#" class="client-card">
                    <div class="logo" style={`width: ${client.logoScale}%;`}>
                        <Fragment set:html={client.logoSvg} />
                    </div>
                </a>
            ))} -->
        </div>
    <!-- </div> -->
    <div class="section-content">
        {section.quote && section.quoteAuthor &&
            <div class="client-quote">
                <div class="quote-text">    
                    <p class="quote h6">{section.quote}</p>
                    <p class="author">{section.quoteAuthor}</p>
                </div>
                {quoteClientLogo && 
                    <div class="quote-logo">
                        <Fragment set:html={quoteClientLogo} />
                    </div>
                }
            </div>
        }

        {section.text &&
            <div class="section-text">
                <p>{section.text}</p>
                {section.button.text && section.button.url && 
                    <AtomButton 
                        text={section.button.text}
                        url={section.button.url}
                        icon="arrow-diagonal"
                    />
                }
            </div>
        }
    </div>
</section>

<style>
    .section-text-clients {
        padding-inline: var(--page-margin);
        padding-block: var(--space-4xl);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--space-2xl);
        /* align-items: center; */
        /* min-height: 60svh; */
        overflow: hidden;
    }

    .section-title {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--space-sm);
        max-width: 50em;
    }

    .eyebrow {
        color: var(--color-accent);
    }

    .logo-track {
        width: max-content;
        gap: var(--space-4xl);
        animation: client-scroll 20s linear infinite;
        will-change: translate;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @keyframes client-scroll {
        from {
            translate: 0 0;
        }
        to {
            translate: calc(-50% - var(--page-margin) * 2) 0;
        }
    }

    .logo {
        /* flex: 0 0 calc(16rem * (var(--width-offset) / 100)); */
        width: calc(16rem * (var(--width-offset) / 100));
        height: auto;
    }

    .logo :global(svg) {
        width: 100%;
        height: auto;
    }

    .section-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section-text {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        align-items: flex-start;
        flex: 0 0 30em;
        gap: var(--space-md);
    }

    .client-quote {
        display: flex;
        flex-direction: column;
        border-inline-start: 1px solid var(--color-accent);
        padding-inline-start: var(--space-xl);
        padding-block: var(--space-sm);
        gap: var(--space-sm);
        max-width: 34rem;
    }

    .quote-text {
        display: flex;
        flex-direction: column;
        gap: var(--space-2xs);
    }


    .quote {
        margin: 0;
    }

    .author {
        /* margin-bottom: 0.5em; */
        color: var(--color-foreground-secondary);
        margin: 0;
    }

    .quote-logo {
        max-width: 5rem;
    }

    @media screen and (width < 768px) {

        .section-text-clients {
            min-height: unset;
        }

        .section-content {
            flex-direction: column;
            justify-content: flex-start;
            gap: var(--space-xl);
        }

        .section-text {
            max-width: 30rem;
            flex: 0 0 auto;
        }
    }
</style>