---
const { section, key } = Astro.props;
const formId = section.hubspotFormId
---
<section class="section-form">
  <div class="section-form__inner">
    <div class="section-form__title">
      <h2 class="h2">{section.heading}</h2>
      <p class="h6">{section.subheading}</p>
    </div>
    
    <div 
      id={`form-${formId}-${key}`} 
      data-hubspot-form-id={formId}
    ></div>
</section>

<script define:vars={{ formId, key }}>

  const initForm = () => {
    const form = document.querySelector(`#form-${formId}-${key}`)

    if (form && window.hbspt) {

      window.hbspt.forms.create({
        region: "na1",
        target: `#form-${formId}-${key}`,
        portalId: "41750854",
        formId: form.dataset.hubspotFormId,
      });
      
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    initForm()
  })

</script>

<style>
    .section-form {
        padding-inline: var(--page-margin);
        padding-block: var(--space-xl);
    }
</style>