---
import { sanityClient } from "sanity:client";
import { imageFields } from "../utils/cms-queries";
import ProjectCard from "../projects/global-ProjectCard.astro";
import { projectGridFields } from "../utils/cms-queries";

const { section, brand } = Astro.props

let projects = null

if (section.projects) {
    projects = section.projects
} else {
    projects = await sanityClient.fetch(`*[_type == "type_project" && agencyBrand->slug.current == "${brand}" ]{ ${projectGridFields} } | order( orderRank asc)[0...3]`)
}

---
{section.showSection && 
    <section class="section-projects-feed">
        <div class="section-title">
            <h2>{section.heading}</h2>
            {section.subheading && <p>{section.subheading}</p>}
        </div>
        <div class="section-content">
            {projects.map((project) => (
                <ProjectCard
                    title={project.title}
                    excerpt={project.excerpt}
                    slug={project.slug}
                    thumbnailMedia={project.thumbnailMedia}
                    thumbnailImageSecondary={project.thumbnailImageSecondary}
                    heroMedia={project.heroMedia}
                    client={project.client}
                    logoColor={project.logoColor}
                    agencyBrand={project.agencyBrand}
                />
            ))}
        </div>
    </section>
}

<style>
    .section-projects-feed {
        padding-inline: var(--page-margin);
        padding-block: var(--space-lg);
    }

    .section-content {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: var(--space-sm);
    }

</style>