---
import SectionForm from "./section_Form.astro"

const { section } = Astro.props
---
{section._type == "section_form" && <SectionForm section={section} />}
{section._type == "section_projectsFeed" && <p>{section.heading}</p>}
{section._type == "section_blogFeed" && <p>{section.heading}</p>}
{section._type == "section_textMedia" && <p>{section.heading}</p>}
{section._type == "section_videoPlayer" && <p>{section.heading}</p>}
{section._type == "section_servicesFeed" && <p>{section.heading}</p>}
{section._type == "section_contentBlocks" && <p>{section.heading}</p>}

