---
import { sanityClient } from "sanity:client";
import BlogCard from "../blog/global-BlogCard.astro";
import { blogCardFields } from "../utils/cms-queries"
import AtomLinkCard from "../atoms/atom-linkCard.astro";
import AtomSanityImage from "../atoms/atom-sanityImage.astro";
import AtomTag from "../atoms/atom-tag.astro";
import { allBlogPosts_Domaine, allBlogPosts_Studio } from "../utils/cms-content";
import GlobalBlogTile from "../blog/global-BlogTile.astro";

const { section, brand, heading, subheading, posts, sidebarTitle } = Astro.props

let blogPosts
let featuredPost
let featuredPostDate
let sidebarTitleText

if (section?.featuredCategory) {
    blogPosts = await sanityClient.fetch(`
        *[_type == "type_blog" 
            && agencyBrand->slug.current == "${brand === 'studio' ? '/studio' : '/'}" 
                && references('${section.featuredCategory._id}')]{ ${blogCardFields} } | order( postDate desc)`)
    sidebarTitleText = section.featuredCategory.title
} else if (posts) {
    blogPosts = posts
    sidebarTitleText = sidebarTitle ? sidebarTitle : "Insights"
} else {
    blogPosts = brand === "studio" ? allBlogPosts_Studio : allBlogPosts_Domaine
    sidebarTitleText = sidebarTitle ? sidebarTitle : "Insights"
}

if (section?.featuredPost) {
    featuredPost = section.featuredPost
} else {
    featuredPost = blogPosts.shift()
}

if (featuredPost) {
    const date = new Date(featuredPost.postDate)
    featuredPostDate = `${date.getMonth().toString().padStart(2, "0")}.${date.getDate().toString().padStart(2, "0")}.${date.getFullYear().toString().padStart(2, "0")}`
}
---
<section class="section-blog-feed" data-color-scheme="brand-01">
    <div class="section-title">
        <h2 class="h5">{(section && section.heading) ? section.heading : heading ? heading : "Insights"}</h2>
        {((section && section.subheading) || subheading ) && <p>{(section && section.subheading) ? section.subheading : subheading}</p>}
    </div>

    {featuredPost && 
        <div class="section-hero">
            <article class="featured-post">
                <a 
                    class="featured-post-image" 
                    href={`${brand === 'studio' ? '/studio' : ''}/insights/${featuredPost.category.slug.current}/${featuredPost.slug.current}`}
                >
                    <AtomSanityImage 
                        image={featuredPost.thumbnailImage.image}
                        sizes="50vw"
                        aspectRatio={3 / 4}
                    />
                </a>
                <div class="featured-post-content">
                    <div class="featured-post-info">
                        <AtomTag 
                            title="Category"
                            text={featuredPost.category.title}
                        />
                        {featuredPostDate && <p class="featured-post-date">{featuredPostDate}</p>}
                    </div>
                    <a 
                        class="featured-post-heading h2" 
                        href={`${brand === 'studio' ? '/studio' : ''}/insights/${featuredPost.category.slug.current}/${featuredPost.slug.current}`}
                    >{featuredPost.title}</a>
                    <p class="h6">{featuredPost.excerpt}</p>
                </div>
            </article>
                <aside class="sidebar" data-color-scheme="glass-dark">
                    <p class="sidebar-heading">{sidebarTitleText}</p>
                    <div class="sidebar-posts">
                        {blogPosts.slice(0, 3).map((post) => (
                            <GlobalBlogTile 
                                post={post}
                                currentBrand={brand}
                            />
                        ))}
                    </div>
                </aside>
        </div>
    }
    {blogPosts.length >= 6 &&
        <div class="section-posts">
            {blogPosts.slice(3, 6).map((post) => (
                <div class="blog-card-wrapper">
                    <BlogCard 
                        title={post.title}
                        postDate={post.postDate}
                        thumbnailImage={post.thumbnailImage}
                        slug={post.slug}
                        category={post.category}
                        agencyBrand={post.agencyBrand}
                    />
                </div>
            ))}
        </div>
    }
</section>


<style>
    .section-blog-feed {
        --gap: var(--space-sm);
        padding-inline: var(--page-margin);
        padding-block: var(--space-4xl);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--gap);
    }

    .section-hero {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--gap);
    }

    .featured-post {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        flex: 0 0 66.66%;
    }

    .featured-post-image {
        flex: 0 0 calc(50% - var(--gap) / 2);
        border-radius: var(--radius-sm);
        overflow: hidden;
    }

    .featured-post-content {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        align-items: flex-start;
    }

    .featured-post-heading {
        text-decoration: none;
        margin: 0;
    }

    .featured-post-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-xs);
    }

    .featured-post-date {
        margin: 0;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        flex: 0 1 25rem;
        /* max-width: 100%; */
        padding-block: var(--space-sm) 0;
        padding-inline: var(--space-sm);
        border-radius: var(--radius-sm);
        /* flex: 1 0 30%; */
    }

    .sidebar-heading {
        margin: 0;
    }

    .sidebar-posts {
        display: flex;
        flex-direction: column;
        /* gap: var(--space-xs); */
    }

    .section-posts {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
    }

    .blog-card-wrapper {
        flex: 1 0 calc(33% - var(--gap) * 2);
    }

    @media screen and (max-width: 1024px) {
        .section-hero {
            /* align-items: flex-end; */
        }

        .featured-post {
            flex: 0 0 calc(50% - var(--gap) / 2);
            /* flex-direction: column-reverse; */
            flex-direction: column;
        }
    }

    @media screen and (max-width: 768px) {
        .section-blog-feed {
            padding-inline: 0;
        }

        .section-title,
        .section-hero,
        .section-posts {
            padding-inline: var(--page-margin);
        }

        .section-hero {
            flex-direction: column;
            align-items: stretch;
            gap: var(--space-lg);
        }

        .featured-post {
            flex: 0 0 calc(50% - var(--gap) / 2);
            flex-direction: column;
        }

        .section-posts {
            overflow-x: auto;
            /* gap: var(--gap); */
        }

        .blog-card-wrapper {
            min-width: 60%;
        }
    }
</style>