---
import Form from "./section_Form.astro"
import ProjectsFeed from "./section_ProjectsFeed.astro"
import BlogFeed from "./section_BlogFeed.astro"
import TextMedia from "./section_TextMedia.astro"
import VideoPlayer from "./section_VideoPlayer.astro"
import ServicesFeed from "./section_ServicesFeed.astro"

const { section, brand } = Astro.props
---
{section._type == "section_form" && <Form section={section} brand={brand} />}
{section._type == "section_projectsFeed" && <ProjectsFeed section={section} brand={brand} />}
{section._type == "section_blogFeed" && <BlogFeed section={section} brand={brand} />}
{section._type == "section_textMedia" && <TextMedia section={section} brand={brand} />}
{section._type == "section_videoPlayer" && <VideoPlayer section={section} brand={brand} />}
{section._type == "section_servicesFeed" && <ServicesFeed section={section} brand={brand} />}
{section._type == "section_contentBlocks" && <p>{section.heading}</p>}

