---
import { sanityClient } from "sanity:client";
import BlogCard from "../blog/global-BlogCard.astro";
import { blogCardFields } from "../../../lib/cms-queries"
import AtomSanityImage from "../atoms/atom-sanityImage.astro";
import AtomTag from "../atoms/atom-tag.astro";
import { getBlogPosts_Domaine, getBlogPosts_Studio } from "../../../lib/cms-content";
import GlobalBlogTile from "../blog/global-BlogTile.astro";
import { formatDate } from "../../../lib/format-date";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getTranslationString } from "../../../lib/translations";

const { section, brand, heading, subheading, posts, sidebarTitle, locale } = Astro.props

let blogPosts
let featuredPost
let featuredPostDate
let sidebarTitleText

if (section?.featuredCategory) {
    blogPosts = await sanityClient.fetch(`
        *[_type == "type_blog" 
            && agencyBrand->slug.current == "${brand === 'studio' ? '/studio' : '/'}" 
                && references('${section.featuredCategory._id}')]{ ${blogCardFields} } | order( postDate desc)`)
    sidebarTitleText = section.featuredCategory.title
} else if (posts) {
    blogPosts = posts
    sidebarTitleText = sidebarTitle ? sidebarTitle : "Insights"
} else {
    blogPosts = brand === "studio" ? await getBlogPosts_Studio() : await getBlogPosts_Domaine()
    sidebarTitleText = sidebarTitle ? sidebarTitle : "Insights"
}

if (section?.featuredPost) {
    featuredPost = section.featuredPost
} else {
    featuredPost = blogPosts.shift().data
}

if (featuredPost) {
    featuredPostDate = formatDate(featuredPost.postDate)
}
// console.log(featuredPost)
---
<section class="section-blog-feed" data-color-scheme="brand-01" data-pagefind-ignore>
    <div class="section-title">
        {(section?.heading || heading) && 
            <h2 class="h5">{section?.heading ? getTranslationString(section.heading, locale) : heading ? getTranslationString(heading, locale) : "Insights"}</h2>
        }
    </div>

    {featuredPost && 
        <div class="section-hero">
            <article class="featured-post">
                <a 
                    class="featured-post-image" 
                    href={locale ? getRelativeLocaleUrl(locale, `${brand === 'studio' ? '/studio' : ''}/insights/${featuredPost.category.slug.current}/${featuredPost.slug.current}`) : `${brand === 'studio' ? '/studio' : ''}/insights/${featuredPost.category.slug.current}/${featuredPost.slug.current}`}
                >
                    <AtomSanityImage 
                        image={featuredPost.thumbnailImage.image}
                        sizes="50vw"
                        aspectRatio={3 / 4}
                    />
                </a>
                <div class="featured-post-content">
                    <div class="featured-post-info">
                        <AtomTag 
                            text={locale && featuredPost.category.title.translations?.[locale] ? featuredPost.category.title.translations[locale] : featuredPost.category.title?.text}
                            url={locale ? getRelativeLocaleUrl(locale, `${featuredPost.agencyBrand.slug.current}insights/${featuredPost.category.slug.current}`) : `${featuredPost.agencyBrand.slug.current}insights/${featuredPost.category.slug.current}`}
                        />
                        {featuredPostDate && <p class="featured-post-date">{featuredPostDate}</p>}
                    </div>
                    <a 
                        class="featured-post-heading h2" 
                        href={locale ? getRelativeLocaleUrl(locale, `${brand === 'studio' ? '/studio' : ''}/insights/${featuredPost.category.slug.current}/${featuredPost.slug.current}`) : `${brand === 'studio' ? '/studio' : ''}/insights/${featuredPost.category.slug.current}/${featuredPost.slug.current}`}
                    >{locale && featuredPost.title.translations?.[locale] ? featuredPost.title.translations[locale] : featuredPost.title.text}</a>
                    <p class="">{locale && featuredPost.excerpt.translations?.[locale] ? featuredPost.excerpt.translations[locale] : featuredPost.excerpt.text}</p>
                </div>
            </article>
                <aside class="sidebar" data-color-scheme="glass-dark">
                    <p class="sidebar-heading">{sidebarTitleText}</p>
                    <div class="sidebar-posts">
                        {blogPosts.slice(0, 3)?.map((post) => (
                            <GlobalBlogTile 
                                post={post.data ? post.data : post}
                                currentBrand={brand}
                                locale={locale}
                            />
                        ))}
                    </div>
                </aside>
        </div>
    }
    {blogPosts.length >= 6 &&
        <div class="section-posts">
            {blogPosts.slice(3, 6)?.map((post) => (
                <div class="blog-card-wrapper">
                    <BlogCard 
                        title={post.data ? post.data.title : post.title}
                        series={post.data ? post.data.series : post.series}
                        postDate={post.data ? post.data.postDate : post.postDate}
                        thumbnailImage={post.data ? post.data.thumbnailImage : post.thumbnailImage}
                        slug={post.data ? post.data.slug : post.slug}
                        category={post.data ? post.data.category: post.category}
                        agencyBrand={post.data ? post.data.agencyBrand : post.agencyBrand}
                        locale={locale}
                    />
                </div>
            ))}
        </div>
    }
</section>


<style>
    .section-blog-feed {
        --gap: var(--space-sm);
        padding-inline: var(--page-margin);
        padding-block: var(--space-4xl);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--gap);
    }

    .section-hero {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--gap);
    }

    .featured-post {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        flex: 0 0 66.66%;
    }

    .featured-post-image {
        flex: 0 0 calc(50% - var(--gap) / 2);
        border-radius: var(--radius-sm);
        overflow: hidden;
    }

    .featured-post-content {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        align-items: flex-start;
    }

    .featured-post-heading {
        text-decoration: none;
    }

    .featured-post-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-xs);
    }

    .featured-post-date {
        margin: 0;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        flex: 0 1 25rem;
        /* max-width: 100%; */
        padding-block: var(--space-sm) 0;
        padding-inline: var(--space-sm);
        border-radius: var(--radius-sm);
        /* flex: 1 0 30%; */
    }

    .sidebar-heading {
        margin: 0;
    }

    .sidebar-posts {
        display: flex;
        flex-direction: column;
        /* gap: var(--space-xs); */
    }

    .section-posts {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
    }

    .blog-card-wrapper {
        flex: 1 0 calc(33% - var(--gap) * 2);
    }

    @media screen and (max-width: 1024px) {
        .section-hero {
            /* align-items: flex-end; */
        }

        .featured-post {
            flex: 0 0 calc(50% - var(--gap) / 2);
            /* flex-direction: column-reverse; */
            flex-direction: column;
        }
    }

    @media screen and (max-width: 768px) {
        .section-blog-feed {
            padding-inline: 0;
        }

        .section-title,
        .section-hero,
        .section-posts {
            padding-inline: var(--page-margin);
        }

        .section-hero {
            flex-direction: column;
            align-items: stretch;
            gap: var(--space-lg);
        }

        .featured-post {
            flex: 0 0 calc(50% - var(--gap) / 2);
            flex-direction: column;
        }

        .section-posts {
            overflow-x: auto;
            /* gap: var(--gap); */
        }

        .blog-card-wrapper {
            min-width: 60%;
        }
    }
</style>