---
import { sanityClient } from 'sanity:client';
import LayoutDomaine from '../../../layouts/LayoutDomaine.astro';
import { paths } from '../../../components/global/utils/paths';

export async function getStaticPaths() {
    const categories = await sanityClient.fetch(`*[_type == "type_blogCategory"]`)
    return categories.map((category) => {
        console.log(category)
        return {
            params: { category: category.slug.current },
            props: { content: category }
        }
    })
}

interface Props {
    content: any
}

const { content } = Astro.props;

const blogPosts = await sanityClient.fetch(`*[_type == "type_blog" && agencyBrand->name == "Domaine" && category->_id == '${content._id}' ] { ..., category->{...}} | order( postDate desc)`)
// const blogPosts = await sanityClient.fetch(`*[_type == "type_blog" && agencyBrand->name == "Domaine" ]{..., category->{...}} | order( postDate desc)`)
console.log(blogPosts)
---
<LayoutDomaine
    title="Work"
>
    <h1>{content.title}</h1>
    <h3>Posts</h3>
    {blogPosts.map((project) => (
        <a href={`${paths.root.blog.path}/${project.category.slug.current}/${project.slug.current}`}><h5>{project.title}</h5></a>
    ))}

</LayoutDomaine>