---
import Layout from '../../../layouts/Layout.astro';
import BlogIndexHero from '../../../components/sections/blog/blogIndex/BlogIndexHero.astro';
import BlogIndexFeed from '../../../components/sections/blog/blogIndex/BlogIndexFeed.astro';
import BlogIndexSidebar from '../../../components/sections/blog/blogIndex/BlogIndexSidebar.astro';
import { getBlogPageContent } from '../../../utils/sanityClient';

// const data = await getBlogPageContent();

interface Props {
	data: any;
  posts: any;
}

export const prerender = true;

export async function getStaticPaths() {

  // const pages = await getPages();
  const data = await getBlogPageContent();

  return data.categories.map((category) => {
    return {
      params: { category: category.slug.current },
      props: { data: data, posts: data.posts.filter(post => post.category.slug.current == category.slug.current) }
    }
  })
}

// const { slug } = Astro.params;

const { category } = Astro.params;
const { data, posts } = Astro.props;
---

<Layout 
    title="Insights"
    theme="light"
>
    <BlogIndexHero
        heading={data.content.heading}
        subheading={data.content.subheading}
        post={data.content.featuredPost}
    />

    <div class="blog-index-main">
        
        <BlogIndexSidebar
            content={data.categories}
            activeCategory={category}
        />

        <BlogIndexFeed
            content={posts}
        />

    </div>

</Layout>

<script>
  // document.addEventListener("astro:after-swap", (e) => { 
  //     console.log(e)
  //     const scrollPosition = Number(localStorage.getItem('scrollPosition'));
  //     if (scrollPosition) window.scrollTo(0, scrollPosition);
  // });

  // document.addEventListener("astro:before-preparation", () => {
  //     localStorage.setItem('scrollPosition', window.scrollY.toString());
  // });
</script>

<style>
    .blog-index-main {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-start;
        padding: var(--space-2xl) 0;
        gap: var(--space-xl);
    }

    @media screen and (max-width: 768px) {

        .blog-index-main {
            flex-direction: column;
        }
    }
</style>
