---
import SanityImage from "../../atoms/SanityImage.astro";

const { content } = Astro.props;
console.log(content.speakers)
---
<section class="section_event-speakers">
  <div class="section-title">
    <h2>{content.heading}</h2>
    {content.subheading && <p class="h6">{content.subheading}</p>}
  </div>
  <div class="speakers">
    {content.speakers.map((speaker) => (
      <div class="speaker-card">
        <div class="speaker-media">
          <SanityImage
            image={speaker.image}
            sizes="50vw"
            aspectRatio={1 / 1}
            alt={`Headshot of ${speaker.name} from ${speaker.companyName}`}
          />
        </div>
        <div class="speaker-info">
          <div class="speaker-text">
            <p class="h5">{speaker.name}</p>
            <p class="utility">{speaker.title}</p>
          </div>
          { speaker.companyLogo ? 
            <div class="company-logo">
              <SanityImage
                image={speaker.companyLogo}
                sizes="50vw"
                alt={`${speaker.companyName} brand logo`}
              />
            </div>
          :
            <p class="company-name h6">{speaker.companyName}</p>
          }
        </div>
      </div>
    ))}
  </div>
</section>

<style>
  .section_event-speakers {
    padding: var(--space-2xl) var(--page-margin);
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
  }

  .section_event-speakers .section-title {
    flex: 0 1 50%;
  }

  .section_event-speakers .speakers {
    flex: 1 0 50%;
    --gap: var(--space-md);
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    flex-wrap: wrap;
  }

  .section_event-speakers .speaker-card {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    flex: 0 0 calc(50% - var(--gap) / 2);
    padding-bottom: var(--space-xs);
  }

  .section_event-speakers .speaker-card:only-child {
    flex: 0 0 100%;
  }

  .section_event-speakers .speaker-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .section_event-speakers .speaker-media {
    border-radius: var(--radius-lg);
    overflow: hidden;
  }

  .section_event-speakers .company-logo {
    max-width: 40%;
    max-height: 20%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    object-fit: contain;
    margin-block: var(--space-2xs);
    /* max-height: 20px; */
  }

  .section_event-speakers .company-name {
  }  

  @media screen and (max-width: 768px) {
    
  .section_event-speakers {
    flex-direction: column;
  }
  }

</style>