---
import AtomSanityImage from "../atoms/atom-sanityImage.astro"
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"
import AtomTag from "../atoms/atom-tag.astro"
import { paths } from "../utils/paths"

const { description, agencyBrand, client, industry, theme, metrics } = Astro.props
---
<section class="work-post_about">

    <div class="section-content">
        <p 
            class="h3"
            data-animate-viewport="true"
            data-animation="fade-up"
        >{description}</p>
        <div 
            class="tags"
            data-animate-viewport="true"
            data-animation="fade"
        >
            <AtomTag 
                title="Industry"
                text={industry.title}
                url={`${agencyBrand == "studio" ? "/studio" : ""}/work/industries/${industry.slug.current}`}
                theme={theme}
            />
            {client.isEnterprise && 
                <AtomTag 
                    title="Enterprise"
                    theme={theme}
                />
            }
        </div>
    </div>

    {metrics &&
        <aside class="metrics">
            {metrics.map((metric) => (
                <div class="metric">
                    <p class="h5">{metric.number}</p>
                    <p>{metric.label}</p>
                </div>
            ))}
        </aside>
    }
</section>


<style>
    .work-post_about {
        padding-inline: var(--page-margin);
        padding-block: var(--header-height) var(--space-lg);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--space-xl);
    }

    .section-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-xs);
        max-width: 60rem;
    }

    .tags {
        display: flex;
        flex-direction: row;
        gap: var(--space-xs);
    }

    .client-sidebar {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        align-items: flex-start;
    }

    .client-logo {
        width: clamp(60px, 6vw, 250px);
    }

    .metrics {
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);
        flex: 0 0 20rem;
    }

    .metric {
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs);
        padding-inline-start: var(--space-md);
        border-left: 1px solid var(--color-border);
    }

    @media screen and (width <= 768px) {

        .work-post_about {
            flex-direction: column;
            justify-content: flex-start;
            gap: var(--space-2xl);
        }

        .metrics {
            flex-direction: row;
            flex-wrap: wrap;
            flex: 0 0 auto;
            gap: var(--space-2xs) var(--space-md);
        }

        .metric {
            flex: 1 0 40%;
            border-top: 1px solid var(--color-border);
            border-inline-start: none;
            padding-inline-start: 0;
            padding-block-start: var(--space-sm);
            padding-block-end: 0;
        }
    }

</style>