---
import AtomSanityImage from "../atoms/atom-sanityImage.astro"
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"
import AtomTag from "../atoms/atom-tag.astro"
import GlobalPartnerTile from "../partners/global-PartnerTile.astro"
import { paths } from "../utils/paths"

const { url, client, services, partners, features, metrics, theme, agencyBrand } = Astro.props
// console.log(partners)
---
<section class="work-post_details">

    <!-- {url && <a href={url} target="_blank">View Live Site</a>} -->

    <div class="section-content">

        {services && 
            <div class="services">
                <h4 class="h5">Services</h4>
                <div class="tags">
                    {services.map((service) => (
                        <AtomTag 
                            title={service.serviceGroup.title}
                            text={service.title}
                            url={`${agencyBrand === "studio" ? "/studio" : ""}/work/services/${service.slug.current}`}
                            theme={theme}
                        />
                    ))}
                </div>
            </div>
        }

        {features && 
            <div class="features">
                <h4 class="h5">Features</h4>
                <div class="tags">
                    {features.map((feature) => (
                        <AtomTag 
                            text={feature.title}
                            url={`${agencyBrand === "studio" ? "/studio" : ""}/work/features/${feature.slug.current}`}
                            theme={theme}
                        />
                    ))}
                </div>
            </div>
        }


        {partners && 
            <div class="partners">
                <h4 class="h5">Partners</h4>
                <div class="partner-tiles">
                    {partners.map((partner) => (
                        <GlobalPartnerTile 
                            partner={partner}
                            theme={theme}
                        />
                    ))}
                </div>
            </div>
        }

    </div>
    <!-- {awards && 
        <div class="awards">
            <h4>Awards</h4>
            {awards.map((award) => (
                <div class="award">
                    <p>{award.awardTitle} | {award.publication}</p>
                </div>
            ))}
        </div>
    }

    {metrics && 
        <div class="metrics">
            <h4>Metrics</h4>
            {metrics.map((metric) => (
                <div class="metric">
                    <p>{metric.number} {metric.label}</p>
                </div>
            ))}
        </div>
    } -->
</section>


<style>
    .work-post_details {
        padding-inline: var(--page-margin);
        padding-block: var(--space-3xl);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 60svh;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--space-2xl);
        max-width: 60em;
    }

    .services,
    .features,
    .partners {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .tags,
    .partner-tiles {
        display: flex;
        flex-direction: row;
        gap: var(--space-2xs);
        flex-wrap: wrap;
        flex-basis: 70%;
    }

</style>