---
import AtomSanityImage from "../atoms/atom-sanityImage.astro"
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"
import { paths } from "../utils/paths"

const { title, heroMedia, accentColor } = Astro.props
---
<section class="work-post_hero">
    <h1 
        id="project-title" 
        class="project-title" 
        data-pagefind-meta="title"
        style={`${accentColor ? `color: ${accentColor.hex};` : null}`}
    >{title}</h1>
    <div id="hero-media" class="section-media">
        <AtomSanityMedia 
            image={heroMedia.image}
            video={heroMedia.video}
            cover={true}
            sizes="100vw"
            pagefindMeta="image[src]"
        />
    </div>
</section>

<script>

    import { fadeUp, addParallax, gsap } from "../../global/utils/gsap"

    const title = document.getElementById("project-title")
    const media = document.getElementById("hero-media")
    
    addParallax(media)
    const timeline = gsap.timeline({ defaults: { ease: "cubic", duration: 2 } })

    window.addEventListener("preload:complete", () => {
        timeline.to(title, {
            y: "0%"
        })
    })

    const handleResize = () => {
        let scaleFactor
        const boundingRect = title.getBoundingClientRect()
        const scaleFactorWidth = (window.innerWidth * 0.95) / boundingRect.width
        const scaleFactorHeight = (window.innerHeight * 0.7) / boundingRect.height
        if (scaleFactorWidth >= scaleFactorHeight) {
            scaleFactor = scaleFactorHeight
        } else {
            scaleFactor = scaleFactorWidth
        }
        title.style.scale = Math.max(scaleFactor, 1).toString()
    }

    if (title) handleResize()

    window.addEventListener("resize", handleResize)
</script>

<style>
    .work-post_hero {
        overflow: clip;
        height: 90svh;
        position: relative;
        color: var(--color-accent-secondary);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .project-title {
        width: min-content;
        display: inline;
        position: relative;
        text-align: center;
        font-size: 20vw;
        margin: 0;
        line-height: 0.8;
        translate: 0 100%;
        margin: 0;
        letter-spacing: -0.04em;
        z-index: 2;
        transform-origin: center bottom;
        /* word-spacing: 100vw; */
    }

    .section-media {
        position: absolute;
        inset: 0;
        min-height: 100%;
    }
</style>