---
import { Translations } from "../../../lib/locales"
import GlobalSections from "../sections/section-GlobalSections.astro"
import SectionProjectsFeed from "../sections/section-ProjectsFeed.astro"
import WorkPostAbout from "./workPost-About.astro"
import WorkPostDetails from "./workPost-Details.astro"
import WorkPostHero from "./workPost-Hero.astro"
import { loadQuery } from "../../../lib/sanity-load-query"
import { Brands } from "../../../enums/brands"
import { getCollection } from "astro:content"
import { projectGridFields } from "../../../lib/cms-queries"

const { content, brand, locale } = Astro.props

const { data: relatedProjects } = await loadQuery({ query: `*[_type == "type_project" && isHidden != true && agencyBrand->name == '${brand}' && industry->slug.current == '${content.industry.slug.current}' && slug.current != '${content.slug.current}' ]{${projectGridFields}} | order(orderRank)`})
---
<div 
  class="project-content"
  data-color-scheme={content.foregroundColor === "light" ? "invert" : "default"}
  style={`${content.backgroundColor ? `--color-background: ${content.backgroundColor.hex};` : null}`}
>
  <WorkPostHero
      title={content.title}
      heroMedia={content.heroMedia}
      accentColor={content.accentColor}
      brand={brand}
      locale={locale}
  />

  <WorkPostAbout
      description={content.description}
      excerpt={content.excerpt}
      industry={content.industry}
      client={content.client}
      metrics={content.metrics}
      agencyBrand={content.agencyBrand.slug.current}
      theme={content.foregroundColor === "light" ? "glass-dark" : "glass-light"}
      brand={brand}
      locale={locale}
  />

  {content.sections && content.sections.map((section, i) => (
      <GlobalSections brand={brand} section={section} key={i} locale={locale} />
  ))}

  <WorkPostDetails
      url={content.url}
      client={content.client}
      services={content.services}
      features={content.features}
      partners={content.partners}
      metrics={content.metrics}
      brand={brand}
      agencyBrand={content.agencyBrand.slug.current}
      theme={content.foregroundColor === "light" ? "light" : "dark"}
      locale={locale}
  />
</div>

    {relatedProjects.length > 0 &&
        <SectionProjectsFeed 
            heading={locale ? Translations["RELATED-PROJECTS"].locales[locale] : Translations["RELATED-PROJECTS"].name}
            projects={relatedProjects}
            locale={locale}
        />
    }

<style>

    .project-content {
        --color-background-secondary: color-mix(in srgb, var(--color-background) 95%, var(--color-darkest));
        /* --color-background-secondary: color-mix(in srgb, var(--color-background) 75%, var(--color-lightest)); */
        --color-foreground-secondary: color-mix(in srgb, var(--color-background) 30%, var(--color-foreground));
    }

    .project-content[data-color-scheme="invert"] {
        --color-background-secondary: color-mix(in srgb, var(--color-background) 80%, var(--color-darkest));
        --color-foreground-secondary: color-mix(in srgb, var(--color-background) 30%, var(--color-foreground));
    }

</style>