---
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"

const { title, heroMedia, accentColor, locale } = Astro.props
---
<section class="work-post_hero">
    <h1 
        id="project-title" 
        class="project-title"
        style={`${accentColor ? `color: ${accentColor.hex};` : null}`}
    >{title}</h1>
    <div id="hero-media" class="section-media">
        <AtomSanityMedia 
            image={heroMedia.image}
            video={heroMedia.video}
            cover={true}
            sizes="100vw"
            autoplay={true}
            eager={true}
        />
    </div>
</section>

<script>

    import { fadeUp, addParallax, gsap } from "../../../lib/gsap"


    document.addEventListener("astro:page-load", () => {

        

        const title = document.getElementById("project-title")
        const media = document.getElementById("hero-media")


        if (media) addParallax(media)
        const timeline = gsap.timeline({ defaults: { ease: "cubic", duration: 2 } })

        if (title) {
            const handleResize = () => {
                let scaleFactor
                const boundingRect = title.getBoundingClientRect()
                const scaleFactorWidth = (window.innerWidth * 0.8) / boundingRect.width
                const scaleFactorHeight = (window.innerHeight * 0.7) / boundingRect.height
                if (scaleFactorWidth >= scaleFactorHeight) {
                    scaleFactor = scaleFactorHeight
                } else {
                    scaleFactor = scaleFactorWidth
                }
                title.style.scale = Math.max(scaleFactor, 1).toString()
            }

            timeline.to(title, {
                y: "0%"
            })
            handleResize()
            document.addEventListener("resize", handleResize)
        }

    })


</script>

<style>
    .work-post_hero {
        overflow: clip;
        height: 90svh;
        position: relative;
        color: var(--color-accent-secondary);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .project-title {
        width: min-content;
        display: inline;
        position: relative;
        text-align: center;
        font-size: 20vw;
        margin: 0;
        line-height: 0.8;
        translate: 0 100%;
        margin: 0 0 0.25em;
        letter-spacing: -0.04em;
        z-index: 2;
        transform-origin: center bottom;
        /* word-spacing: 100vw; */
    }

    .section-media {
        position: absolute;
        inset: 0;
        min-height: 100%;
    }
</style>