---
import AtomSanityImage from "../../../global/atoms/atom-sanityImage.astro"
import AtomSanityMedia from "../../../global/atoms/atom-sanityMedia.astro"
import { paths } from "../../../global/utils/paths"

const { heading, description, root, url, client, services, heroMedia, heroImage, heroVideo, industry, partners, features, metrics, awards, metafields } = Astro.props
// console.log(features)
---
<section class="work-post_hero">
    <a href={`/work/industries/${industry.slug.current}`}>{industry.title}</a>
    <h1>{heading}</h1>

    <AtomSanityMedia 
        image={heroMedia.image}
        video={heroMedia.video}
        sizes="100vw"
    />
    

    <h5>{description}</h5>
    {url && <a href={url} target="_blank">View Live Site</a>}

    {services && 
        <div class="services">
            <h4>Services</h4>
            {services.map((service) => (
                <div>
                    <a href={`${paths.root.services.path}/${service.serviceGroup.serviceType.slug.current}/${service.slug.current}`}>{service.title}</a>
                </div>
            ))}
        </div>
    }

    {features && 
        <div class="features">
            <h4>Features</h4>
            {features.map((feature) => (
                <div>
                    <a href={`${root}?feature=${feature.slug.current}`}>{feature.title}</a>
                </div>
            ))}
        </div>
    }

    {partners && 
        <div class="partners">
            <h4>Partners</h4>
            {partners.map((partner) => (
                <div>
                    <a href={`${root}?partner=${partner.slug.current}`}>{partner.title}</a>
                </div>
            ))}
        </div>
    }

    {awards && 
        <div class="awards">
            <h4>Awards</h4>
            {awards.map((award) => (
                <div class="award">
                    <p>{award.awardTitle} | {award.publication}</p>
                </div>
            ))}
        </div>
    }

    {metrics && 
        <div class="metrics">
            <h4>Metrics</h4>
            {metrics.map((metric) => (
                <div class="metric">
                    <p>{metric.number} {metric.label}</p>
                </div>
            ))}
        </div>
    }

    {client && client.description && (
        <h4>About {client.title}</h4>
        <p>{client.description}</p>
    )}
</section>


<style>
    .work-post_hero {
        padding-inline: var(--page-margin);
        padding-block: var(--header-height) var(--space-lg);
    }

    .video {
        --media-object-fit: cover;
        --media-object-position: center;
        aspect-ratio: 2 / 1;
        --controls: none;
    }

    .media {
        aspect-ratio: 2 / 1;
        position: relative;
    }
</style>