---
import { getRelatedProjects } from "../../../utils/sanityClient";
import ArrowLink from "../../atoms/ArrowLink.astro";
import ProjectCard from "../../atoms/ProjectCard.astro";
const { project } = Astro.props;

const data = await getRelatedProjects(project);
const relatedProjectCount = 2;
const minRelatedProjectCount = 2
// console.log(data.relatedProjects[0])
// console.log(data.allOtherProjects.length)
---

<section class='related-projects'>
  <div class="section-title">
    <h2 class="heading">{data.relatedProjects.length > 1 ? "Related Projects" : "Other Projects"}</h2>
    <ArrowLink text="View All" url="/work" style="large" />
  </div>
  <div class="projects-wrapper"> 
    {data.relatedProjects.length > 1 ? (
      data.relatedProjects.map((project, i) => {
        if (i < relatedProjectCount) return (
          <ProjectCard 
            title={project.title} 
            subtitle={project.subtitle}
            image={project.thumbnail}
            alt={project.thumbnailAlt}
            slug={project.slug.current}
            style={data.relatedProjects.length < 2 ? "wide" : "default"}
          />
        )
      })
    ) : (
      data.allOtherProjects.map((project, i) => {
        if (i < relatedProjectCount) return (
          <ProjectCard 
            title={project.title} 
            subtitle={project.subtitle}
            image={project.thumbnail} 
            alt={project.imageAlt}
            slug={project.slug.current}
            style="default"
          />
        )
      })
    )
    }
  </div>
</section>


<style>

  .related-projects {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-xl) var(--page-margin);
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--page-margin);
  }

  @media screen and (max-width: 768px) {

    /* .section-title {
      flex-direction: column;
    } */

    .related-projects {

      /* overflow-x: auto; */
    }
    .projects-wrapper {
      /* width: 200vw; */
      /* overflow-x: auto; */
      /* grid-template-columns: 1fr; */
      /* display: flex;
      flex-direction: row; */
      /* justify-content: flex-start; */
    }
  }
</style>