---
import AtomSanityImage from "../atoms/atom-sanityImage.astro"

const { authors } = Astro.props
---
<section class="blog-post-authors">
    {authors.map((author) => (
        <div class="author">
            <div class="author-media">
                <AtomSanityImage 
                    sizes="20vw"
                    image={author.image}
                />
            </div>
            <div class="author-details">
                {author.department && <p class="utility">{author.department.title}</p>}
                <h6 class="h3">{author.name}</h6>
                <p>{author.role}</p>
                {author.bio && <p>{author.bio}</p>}
            </div>
        </div>
    ))}
</section>

<style>
    .blog-post-authors {
        padding-inline: var(--page-margin);
        padding-block: var(--space-xl);
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        margin: 0 var(--page-margin);
        display: flex;
        flex-direction: row;
    }

    .author {
        display: flex;
        flex-direction: row;
    }

    .author-media {
        max-width: 20vw;
    }
</style>