---
import GlobalBlogCard from "./global-BlogCard.astro"

interface Props {
    blogPosts: any
}

const { blogPosts } = Astro.props
---
<div class="blog-grid">
    {blogPosts.map((blogPost) => (
        <GlobalBlogCard 
            title={blogPost.title}
            category={blogPost.category}
            slug={blogPost.slug}
            thumbnailImage={blogPost.thumbnailImage}
            agencyBrand={blogPost.agencyBrand}
        />
    ))}
</div>

<style>
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-inline: var(--page-margin);
        padding-block: 0 var(--space-2xl);
        gap: var(--space-sm);
    }

    @media screen and (max-width: 768px) {
        .blog-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>