---
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"
import AtomTag from "../atoms/atom-tag.astro"

interface Props {
    title: string,
    slug: any,
    thumbnailImage: any,
    category: any,
    agencyBrand: any
}

const { title, thumbnailImage, slug, category, agencyBrand } = Astro.props

const categoryUrl = `${agencyBrand.slug.current == 'studio' ? '/studio' : ''}/insights/${category.slug.current}`
const postUrl = `${categoryUrl}/${slug.current}`
---
<article class="blog-card" data-pagefind-ignore>
    <a href={postUrl} class="card-media">
        <AtomSanityMedia
            image={thumbnailImage.image}
            aspectRatio={3 / 4}
            sizes="30vw"
        />
    </a>
    <AtomTag 
        title="Category"
        text={category.title}
        url={categoryUrl}
    />
    <a href={postUrl} class="card-text">
        <h3 class="h6">{title}</h3>
    </a>

</article>

<style>
    .blog-card {
        flex: 0 1 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-xs);
    }

    .card-media {
        align-self: stretch;
    }

    .card-text {
        text-decoration: none;
    }
</style>