---
import AtomSanityMedia from "../atoms/atom-sanityMedia.astro"
import AtomTag from "../atoms/atom-tag.astro"

interface Props {
    title: string,
    slug: any,
    thumbnailImage: any,
    category: any,
    agencyBrand: any,
    postDate: any,
}

const { title, thumbnailImage, slug, category, agencyBrand, postDate } = Astro.props

const categoryUrl = `${agencyBrand.slug.current == '/studio' ? '/studio' : ""}/insights/${category.slug.current}`
const postUrl = `${categoryUrl}/${slug.current}`

const date = new Date(postDate)
const formattedDate = `${date.getMonth().toString().padStart(2, "0")}.${date.getDate().toString().padStart(2, "0")}.${date.getFullYear().toString().padStart(2, "0")}`
---
<article class="blog-card" data-animate-viewport="true" data-animation="fade" data-pagefind-ignore>
    <a href={postUrl} class="card-media">
        <AtomSanityMedia
            image={thumbnailImage.image}
            aspectRatio={3 / 4}
            sizes="30vw"
        />
    </a>
    <div class="card-info">
        <AtomTag
            title={category.title}
            url={categoryUrl}
        />
        {postDate && <p class="date caption">{formattedDate}</p>}
    </div>
    <a href={postUrl} class="card-title h6">{title}</a>

</article>

<style>
    .blog-card {
        flex: 0 1 100%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        /* align-items: flex-start; */
        gap: var(--space-xs);
    }

    .card-media {
        align-self: stretch;
        border-radius: var(--radius-sm);
        overflow: hidden;
    }

    .card-media :global(img) {
        scale: 1;
        transition: scale var(--anim-lg);
    }
    .card-media:hover :global(img) {
        scale: 1.05;
    }

    .card-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: var(--space-xs);
        /* justify-content: space-between; */
    }

    .date {
        margin: 0;
        color: var(--color-foreground-secondary);
    }

    .card-title {
        text-decoration: none;
    }

    .card-title:hover {
        color: var(--color-foreground-secondary);
    }
</style>