---
import GlobalBlogCard from "./global-BlogCard.astro"

interface Props {
    blogPosts: any;
    locale?: string;
}

const { blogPosts, locale } = Astro.props
---
<div class="blog-grid">
    {blogPosts.map((blogPost) => (
        <GlobalBlogCard 
            title={blogPost.data.title}
            series={blogPost.data.series}
            postDate={blogPost.data.postDate}
            category={blogPost.data.category}
            slug={blogPost.data.slug}
            thumbnailImage={blogPost.data.thumbnailImage}
            agencyBrand={blogPost.data.agencyBrand}
            locale={locale}
        />
    ))}
</div>

<style>
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-inline: var(--page-margin);
        padding-block: 0 var(--space-2xl);
        gap: var(--space-2xl) var(--space-sm);
    }

    @media screen and (max-width: 768px) {
        .blog-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>