---
import { getRelativeLocaleUrl } from "astro:i18n";
import AtomSanityImage from "../atoms/atom-sanityImage.astro"
import AtomTag from "../atoms/atom-tag.astro"
import { formatDate } from "../utils/format-date"

interface Props {
  post: any;
  currentBrand: any;
  locale?: string;
}

const { post, locale } = Astro.props
const formattedDate = formatDate(post.postDate)

// console.log(post.agencyBrand)
const postUrl = `${post.agencyBrand.slug.current === "/studio" ? "/studio/" : "/"}insights/${post.category.slug.current}/${post.slug.current}`
const categoryUrl = `${post.agencyBrand.slug.current === "/studio" ? "/studio/" : "/"}insights/${post.category.slug.current}`
---
<div class="blog-post">
  <a 
    class="blog-post-media"
    href={locale ? getRelativeLocaleUrl(locale, postUrl) : postUrl } 
  >
    <AtomSanityImage 
      sizes="20vw"
      image={post.thumbnailImage.image}
      aspectRatio={3 / 4}
    />
  </a>
  <div class="blog-post-content">
    <div class="blog-post-info">
      <AtomTag
        title={locale ? post.category.title.translations?.[locale] : post.category.title.text}
        url={locale ? getRelativeLocaleUrl(locale, categoryUrl) : categoryUrl }
      />
      <p class="blog-post-date">{formattedDate}</p>
    </div>
    <a 
      class="blog-post-title" 
      href={locale ? getRelativeLocaleUrl(locale, postUrl) : postUrl } 
    >{locale && post.title.translations?.[locale] ? post.title.translations[locale] : post.title.text}</a>
  </div>
</div>

<style>

.blog-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-sm);
    align-items: flex-start;
    border-top: 1px solid var(--color-border);
    padding-block: var(--space-sm);
  }

  .blog-post-content {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xs);
  }

  .blog-post-title {
    text-decoration: none;
  }

  .blog-post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
    /* justify-content: space-between; */
    align-self: stretch;
  }

  .blog-post-date {
    margin: 0;
    color: var(--color-foreground-secondary);
  }

  .blog-post-media {
    flex: 0 0 20%;
    border-radius: var(--radius-sm);
    overflow: hidden;
  }
</style>