---
import { sanityClient } from 'sanity:client';
import { paths } from '../../components/global/utils/paths';
import LayoutDomaine from '../../layouts/Layout-Domaine.astro';
import { projectGridFields } from '../../components/global/utils/cms-queries';
import SectionProjectsFeed from '../../components/global/sections/section-ProjectsFeed.astro';

export async function getStaticPaths() {
    const partners = await sanityClient.fetch(`*[_type == "type_partner" && tier->createLandingPages == true ]{ title, slug, tier->{...}, "projects": *[_type == "type_project" && references(^._id)]{${projectGridFields}} | order(orderRank)[0...3]  }`)

    return partners.map((partner) => {
        return {
            params: { partner: partner.slug.current },
            props: { content: partner }
        }
    })
}

interface Props {
    content: any
}


const { content } = Astro.props;

---
<LayoutDomaine
    title={content.title}
    searchFilter="type:partner"
>
    
    {content.tier && <h4>{content.tier.title}</h4>}
    <h1>{content.title}</h1>

    {content.projects &&
        <SectionProjectsFeed 
            heading={`Our work with ${content.title}`}
            projects={content.projects}
        />
    }
</LayoutDomaine>