---
import RichTextContent from '../../components/atoms/RichTextContent.astro';
import SectionBlock from '../../components/sections/SectionBlock.astro';
import BlogPosts from '../../components/sections/global/BlogPosts.astro';
import ContactForm from '../../components/sections/global/ContactForm.astro';
import ContentBlocks from '../../components/sections/global/ContentBlocks.astro';
import Work from '../../components/sections/global/Work.astro';
import PartnersPostSidebar from '../../components/sections/partners/partnersPost/partnersPost_Sidebar.astro';
import Layout from '../../layouts/Layout.astro';
import { getPartners, getProjectsByPartner, getBlogPostsByPartner } from '../../utils/sanityClient';

export async function getStaticPaths() {
  const partners = await getPartners();
  return partners.map((partner) => {
    return {
      params: { slug: partner.slug.current },
      props: { data: partner }
    }
  })
}

interface Props {
  data: any
}


const { data } = Astro.props
const projects = await getProjectsByPartner(data)
const blogPosts = await getBlogPostsByPartner(data)
// console.log(blogPosts.length)
// console.log(data.contentBlocks)
---

<Layout 
  theme="light"
  title={data.name}
>
  <div class="content">
    <div class="sidebar">
      <PartnersPostSidebar 
        name={data.name}
        excerpt={data.excerpt}
        location={data.location}
        socialLinks={data.socialLinks}
        websiteLabel={data.websiteLabel}
        websiteUrl={data.websiteUrl}
        logo={data.logo}
      />
    </div>
    <div class="rich-text-wrapper">
      <div class="rich-text-content">
        <RichTextContent richText={data.content} />
      </div>
    </div>
  </div>

  {blogPosts && blogPosts.length > 0 &&
    <BlogPosts
      heading={`${data.name} Insights`}
      posts={blogPosts}
    />
  }

  

  {data.contentBlocks.map((block) => (
    <SectionBlock block={block} />
  ))}

  {projects && projects.length > 0 &&
    <Work
      heading={`Our Work With ${data.name}`}
      relatedProjects={projects}
    />
  }

  <!-- <ContactForm 
    heading, 
    text={content}
    hubspotFormId={content.formId}
  /> -->

</Layout>

<style>
  .content {
    padding: var(--header-height) var(--page-margin) var(--space-xl);
    background: var(--color-background-secondary);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    gap: var(--space-xl);
  }

  .sidebar {
    flex: 0 0 25%;
    position: sticky;
    top: var(--header-height);
    min-width: 240px;
  }

  .rich-text-wrapper {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rich-text-content {
    /* width: 100%; */
  }

  @media screen and (max-width: 768px) {
    .content {
      flex-direction: column;
    }

    .sidebar {
      position: relative;
      top: unset;
    }
  }

</style>