---
import { sanityClient } from 'sanity:client';
import LayoutDomaine from '../../layouts/LayoutDomaine.astro';
import { paths } from '../../components/global/utils/paths';

const partners = await sanityClient.fetch(`*[_type == "type_partner"] { ..., tier->{...} }`)
const partnerTiers =  await sanityClient.fetch(`*[_type == "type_partnerTier"]`)
---
<LayoutDomaine
    title="Partners"
>
    <h1>Partners</h1>
    {partnerTiers.map((tier) => (
        <div>
            <h3>{tier.title}</h3>
            {partners.map((partner) => {
                if (partner.tier && partner.tier.slug.current == tier.slug.current) {
                    return (
                        <div>
                            {tier.createLandingPages ? 
                                <a href={`${paths.root.partners.path}/${partner.slug.current}`}>
                                    <h6>{partner.title}</h6>
                                </a>
                            : (
                                <h6>{partner.title}</h6>
                            )}
                        </div>
                    )
                }
            })}
        </div>
    ))}

</LayoutDomaine>