---
import { sanityClient } from 'sanity:client';
import LayoutDomaine from '../../layouts/Layout-Domaine.astro';
import { paths } from '../../components/global/utils/paths';
import PartnerTile from '../../components/global/partners/global-PartnerTile.astro'
import { imageFields } from '../../components/global/utils/cms-queries';

const partnerTiers =  await sanityClient.fetch(`*[_type == "type_partnerTier"]{ ..., "partners": *[_type == "type_partner" && references(^._id)]{ ..., logo{${imageFields}}} }`)
---
<LayoutDomaine
    title="Partners"
    searchFilter="type:page"
>
    <h1>Partners</h1>
    {partnerTiers.map((tier) => (
        <div>
            <h3>{tier.title}</h3>
            {tier.partners.map((partner) => (
                    <PartnerTile 
                        title={partner.title}
                        slug={partner.slug}
                        tier={partner.tier}
                        logo={partner.logo}
                        excerpt={partner.excerpt}
                        createLandingPage={tier.createLandingPages}
                    />
                )
            )}
        </div>
    ))}

</LayoutDomaine>