---
import { sanityClient } from 'sanity:client';
import LayoutDomaine from '../../layouts/Layout-Domaine.astro';
import { imageBaseFields, partnerTileFields, urlFor, videoFields } from '../../components/global/utils/cms-queries';
import TextHeading from '../../components/global/sections/section-TextHeading.astro';
import { getPartners_Domaine } from '../../components/global/utils/cms-content';
import PartnersIndexTier from '../../components/global/partners/partnersIndex-tier.astro';
import SectionForm from '../../components/global/sections/section-Form.astro';
import MediaFullbleed from '../../components/global/sections/section-MediaFullbleed.astro';

const partnerTiers =  await sanityClient.fetch(`
    *[_type == "type_partnerTier"]{ 
        ..., 
        "partners": *[_type == "type_partner" && references(^._id)]{
            ${partnerTileFields} 
        } | order(orderRank),
    } | order(orderRank)`)

const partners = await getPartners_Domaine()
const pageSettings = await sanityClient.fetch(` *[_type == "page_partners-index"] { 
    title, 
    heading, 
    heroMedia{${videoFields}}, 
    text, 
    formHeading, 
    formText, 
    hubspotFormId,
    metafields{ title, description, image{${imageBaseFields}} },
}[0]`)
// console.log(pageSettings)
---
<LayoutDomaine
    title={`${pageSettings.metafields?.title ? pageSettings.metafields.title : pageSettings.title}`}
    description={pageSettings.metafields?.description ? pageSettings.metafields.description : null}
    image={pageSettings.metafields?.image ? urlFor(pageSettings.metafields.image).url() : null}
    searchFilter="type:page"
    activePath="/partners"
>
    <TextHeading 
        title={pageSettings.title}
        heading={pageSettings.heading}
        text={pageSettings.text}
        count={partners.length}
    />

    <MediaFullbleed 
        media={pageSettings.heroMedia}
    />

    <div class="partner-tiers">
        {partnerTiers.map((tier) => (
            <PartnersIndexTier 
                tier={tier}
            />
        ))}
    </div>

    {pageSettings.hubspotFormId && 
        <SectionForm 
            hubspotFormId={pageSettings.hubspotFormId}
            heading={pageSettings.formHeading}
            text={pageSettings.formText}
        />
    }

</LayoutDomaine>

<style>

    .partner-tiers {
        padding-inline: var(--page-margin);
        padding-block: var(--header-height) var(--space-xl);
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);
    }

    .partner-tier {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }

    .partner-tier-header {
        display: flex;
        flex-direction: row;
        gap: var(--space-sm);
        /* align-items: center; */
    }

    .partners {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-xs);
    }

    .icon {
        width: 30px;
    }
</style>