---
import GlobalSections from "../components/global/sections/section-GlobalSections.astro";
import { globalSectionsFields, imageBaseFields, urlFor } from "../lib/cms-queries";
import LayoutDomaine from "../layouts/Layout-Domaine.astro";

interface Props {
  content: any
}

export async function getStaticPaths() {
    const pages = await sanityClient.fetch(`*[_type == 'page_general' && !isMarketingPage]{ 
        ..., 
        globalSections{ sections[]{${globalSectionsFields}} },
        metafields{ title, description, image{${imageBaseFields}} },
    }`)
    return pages.map((page) => {
        return {
            params: { page: page.slug.current },
            props: { content: page }
        }
    })
}

const { content } = Astro.props
// console.log(content)
---
<LayoutDomaine
    title={content.title}
    searchFilter="type:page"
    title={`${content.metafields?.title ? content.metafields.title : content.title}`}
    description={content.metafields?.description ? content.metafields.description : null}
    image={content.metafields?.image ? urlFor(content.metafields.image).url() : null}
    showPreloader={content.showPreloader}
>
    <div 
        class="page-content" 
        data-color-scheme={content.colorScheme} 
        data-header-padding={content.addHeaderPadding ? "true" : "false"}
        style={`${content.backgroundColor ? `--color-background: ${content.backgroundColor.hex};` : null}`}
    >
    <!-- <h1>{content.title}</h1> -->
        {content.globalSections?.sections.map((section, i) => (
            <GlobalSections brand="domaine" section={section} key={i} />
        ))}
    </div>
</LayoutDomaine>

<style>
    .page-content[data-header-padding="true"] {
        padding-top: calc(var(--header-height) * 2);
    }
</style>