---
import { sanityClient } from 'sanity:client'
import LayoutDomaine from "../layouts/Layout-Domaine.astro";
import { allCareers } from "../components/global/utils/cms-content";
import AtomButton from "../components/global/atoms/atom-button.astro";
import AtomTag from '../components/global/atoms/atom-tag.astro';
import { Icon } from 'astro-icon/components';
import SectionGlobalSections from '../components/global/sections/section-GlobalSections.astro';

const pageSettings = await sanityClient.fetch(`*[_type == 'page_careers'][0]`)

console.log(pageSettings)
// console.log(allCareers)
---
<LayoutDomaine
    title="Careers"
    searchFilter="type:page"
    title={pageSettings.metafields && pageSettings.metafields.title ? pageSettings.metafields.title : "Careers"}
    description={pageSettings.metafields && pageSettings.metafields.description ? pageSettings.metafields.description : null}
    image={pageSettings.metafields && pageSettings.metafields.image ? pageSettings.metafields.image : null}
>


  <section class="page-content">

    <div class="section-title">
      <Icon name="dot-peace" class="title-icon" />
      <div class="title-text">
        <h1>{pageSettings.heading}</h1>
        <p class="h6">{pageSettings.subheading}</p>
      </div>
    </div>
    
    <div class="roles">
      {allCareers.length > 0 ?
        allCareers.map((role) => (
          <div class="role-card">
            {role.department && 
              <AtomTag text={role.department.label} />
            }
            <p class="h3" >{role.name}</p>
            <div class="role-details">
              <AtomButton
                text="Learn More"
                url={role.url}
                newTab={true}
              />
              <div class="location">
                <Icon name="icon-pin" class="location-icon" />
                {role.workLocation && <p>{role.workLocation.label}</p>}
              </div>
            </div>
          </div>
        ))
      :
      <p>Ro Openings!</p>
      }
    </div>

  </section>

  {pageSettings.sections && pageSettings.sections.sections.map((section, i) => (
    <SectionGlobalSections brand="domaine" section={section} key={i} />
))}
</LayoutDomaine>


<style>
  .page-content {
    padding-block: calc(var(--header-height) * 2) var(--space-xl);
    padding-inline: var(--page-margin);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-2xl);
  }

  .section-title {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: var(--space-lg);
    /* display: grid;
    grid-template-columns: var(--grid-template-default); */
  }

  .title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title-icon {
    flex: 0 1 8rem;
    height: auto;
  }

  .roles {
    align-self: center;
    /* min-width: 30rem; */
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
  }

  .role-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid var(--color-border);
    padding-block: var(--space-md);
    gap: var(--space-xs);
  }

  .location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }

  .location > * {
    margin: 0;
  }

  .role-details {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


</style>