---
import PartnerCard from "../../../atoms/PartnerCard.astro"
import RichTextContent from "../../../atoms/RichTextContent.astro";
import SanityImage from "../../../atoms/SanityImage.astro"

const { tier, partners } = Astro.props

---
<section class="partners-index-tier">
  <div class="section-title" data-animate-viewport="true" data-animate-style="fade-up">
    <div class="icon">
      <Fragment set:html={tier.icon} />
    </div>
    <div class="text">
      <p class="eyebrow caption">{tier.eyebrow}</p>
      <h2>{tier.name}</h2>
      <p>{tier.description}</p>
    </div>
  </div>
  <div class="partners-grid">
    { tier.landingPages ? (
      partners.map((partner) => (
        <PartnerCard 
          name={partner.name}
          excerpt={partner.excerpt}
          logo={partner.logo}
          slug={partner.slug.current}
          style="grid"
        />
      ))
    ) : (
      partners.map((partner) => (
        <a 
          class="partner-logo" 
          href={partner.websiteUrl} 
          target="_blank"
          data-animate-viewport="true" 
          data-animate-style="fade"
        >
          <SanityImage
            image={partner.logo}
            sizes="20vw"
            alt={`Brand logo for ${partner.name}`}
          />
        </a>
      ))
    ) }
    { partners.length == 0 &&
      <div class="coming-soon-card">
        <p class="utility">Coming Soon!</p>
      </div>
    }
  </div>
</section>

<style>
  .partners-index-tier {
    margin-inline: var(--page-margin);
    padding-block: var(--space-3xl);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: var(--space-3xl);
    border-bottom: 1px solid var(--color-border);
  }

  .section-title {
    flex: 0 1 auto;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .icon {
    width: clamp(30px, 15%, 60px);
  }

  .eyebrow {
    margin-bottom: 1em;
  }

  .partners-grid {
    flex: 0 0 70%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-lg); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-lg);
    align-content: stretch;
  }

  .partner-logo {
    /* flex: 0 0 25%;` */
  }

  .coming-soon-card {
    background-color: var(--color-background-secondary);
    border-radius: var(--radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 3;
    padding: var(--space-sm);
    /* flex: 1 0 auto; */
  }

  @media screen and (max-width: 1024px) {

    .partners-index-tier {
      flex-direction: column;
    }

    .partners-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-lg);
    }
  }

  @media screen and (max-width: 768px) {

    .partners-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>