---
import { sanityClient } from "sanity:client"
import { paths } from "../../../../components/global/utils/paths"
import LayoutStudio from "../../../../layouts/Layout-Studio.astro"

export async function getStaticPaths() {
    const services = await sanityClient.fetch(`*[_type == "type_service" && "Studio" in agencyBrands[]->name ] {..., serviceGroup->{..., serviceType->{...}} }`)
    return services.map((service) => {
        return {
            params: { serviceType: service.serviceGroup.serviceType.slug.current, service: service.slug.current },
            props: { content: service, serviceGroup: service.serviceGroup, serviceType: service.serviceGroup.serviceType }
        }
    })
}

interface Props {
    content: any,
    serviceType: any,
    serviceGroup: any,
}

const { content, serviceType, serviceGroup } = Astro.props;
---
<LayoutStudio
    title={content.metafields && content.metafields.title ? content.metafields.title : content.title}
    searchFilter="type:service"
>
    <a href={`${paths.root.studio.services.path}/${serviceType.slug.current}/`}><h6>{serviceType.title}</h6>
    <a href={`${paths.root.studio.services.path}/${serviceType.slug.current}/${serviceGroup.slug.current}`}><h3>{serviceGroup.title}</h3></a>
    <h1>{content.title}</h1>
</LayoutStudio>