---
import AtomTag from "../../../global/atoms/atom-tag.astro"
import { blogCardFields, projectGridFields } from "../../../global/utils/cms-queries"
import AtomLinkCard from "../../../global/atoms/atom-linkCard.astro"
import { sanityClient } from "sanity:client"

const { section, brand } = Astro.props



const featuredPost = await sanityClient.fetch(`*[_type == "type_blog" && category->slug.current != "agency-news" && agencyBrand->slug.current == "${brand}" ]{ ${blogCardFields} } | order( postDate desc)[0]`)
const featuredNews = await sanityClient.fetch(`*[_type == "type_blog" && category->slug.current == "agency-news" && agencyBrand->slug.current == "${brand}" ]{ ${blogCardFields} } | order( orderRank desc)[0]`)
const featuredProject = await sanityClient.fetch(`*[_type == "type_project" && agencyBrand->slug.current == "${brand}" ]{ ${projectGridFields} } | order( orderRank asc)[0]`)


---
<section class="section-domaine-about">
    <div class="section-content">
        <h1 class="h2">{section.heading}</h1>
        <div class="tags">
            {section.stats.map((stat) => (
                <AtomTag 
                    title={stat.number}
                    text={stat.label}
                />
            ))}
        </div>
    </div>
    <div class="section-links">
        <AtomLinkCard 
            categoryTitle="Insights"
            title={featuredPost.title}
            image={featuredPost.thumbnailImage.image}
            url={`${brand === "studio" ? "/studio" : ""}/insights/${featuredPost.category.slug.current}/${featuredPost.slug.current}`}
        />
        <AtomLinkCard 
            categoryTitle="Work"
            title={featuredProject.title}
            excerpt={featuredProject.excerpt}
            image={featuredProject.thumbnailImageSecondary.image}
            url={`${brand === "studio" ? "/studio" : ""}/work/${featuredProject.slug.current}`}
        />
        <AtomLinkCard 
            categoryTitle="News"
            title={featuredNews.title}
            image={featuredNews.thumbnailImage.image}
            url={`${brand === "studio" ? "/studio" : ""}/insights/${featuredNews.category.slug.current}/${featuredNews.slug.current}`}
        />
    </div>
</section>

<style>
    .section-domaine-about {
        display: flex;
        flex-direction: row;
        padding-inline: var(--page-margin);
        padding-block: var(--space-2xl);
        gap: var(--space-lg);
    }

    .section-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-xs);
    }

    .tags {
        display: flex;
        flex-direction: row;
        gap: var(--space-2xs);
        flex-wrap: wrap;
    }

    .section-links {
        flex: 1 0 40%;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--space-xs);
    }

    @media screen and (max-width: 768px) {
        .section-domaine-about {
            flex-direction: column;
            align-items: stretch;
        }
    }
</style>