---
import AtomButton from "../../../global/atoms/atom-button.astro"
import AtomSanityMedia from "../../../global/atoms/atom-sanityMedia.astro"
import AtomTag from "../../../global/atoms/atom-tag.astro"

const { heading, eyebrow, button, media, heroTextColor } = Astro.props
---
<section id="domaine-home-hero" class={`home_hero ${heroTextColor === "light" && "color-invert"}`}>
    <div class="section-content">
        <div class="section-title">
            {eyebrow && 
                <div class="eyebrow">
                    <AtomTag text={eyebrow} theme={heroTextColor === "light" ? "light" : "dark"} />
                </div>
            }
            <h1 class="heading h1" id="heading" >{heading}</h1>
        </div>
        {button.text && button.url &&
            <AtomButton 
                text={button.text}
                url={button.url}
                newTab={button.newTab}
                style="primary"
                icon="arrow-diagonal"
            />
        }
    </div>
    {media && 
        <div class="section-media">
            <AtomSanityMedia 
                video={media.video}
                image={media.image}
                sizes="100vw"
                cover={true}
            />
        </div>
    }
</section>

<script>
    import { addParallax, fadeUp, gsap, SplitText } from "../../../global/utils/gsap"

    const animateSection = () => {
        const section = document.getElementById('domaine-home-hero')
        const backgroundMedia = section.querySelector('.section-media')
        if (backgroundMedia) addParallax(backgroundMedia)
    }

    window.addEventListener("preload:complete", () => {
        animateSection()
    })
</script>

<style is:global>

    #domaine-home-hero .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* max-width: 100%; */
    }

    #domaine-home-hero .heading-line {
        position: relative;
        background-color: var(--color-background-secondary);
        border-radius: var(--radius-sm);
        padding-inline: 0.2em;
        display: flex;
        flex-direction: row;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        margin-bottom: -0.01em;
        z-index: 1;
        max-width: 100%;
    }

</style>

<style>
    .home_hero {
        padding-inline: var(--page-margin);
        padding-block: var(--header-height) var(--space-xl);
        min-height: 95svh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: var(--space-md);
        position: relative;
        background-color: var(--color-brand);
        overflow: clip;
    }

    .section-content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--space-md);
        color: var(--color-foreground);
    }
    
    .section-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-sm);
    }

    .eyebrow {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .heading {
        /* padding-inline: 0.2em; */
        /* rotate: 2deg; */
        /* max-width: min(12em, 80%); */
        max-width: 14em;
        /* max-width: 13em; */
        /* max-width: calc(100% - 0.4em); */
        /* max-width: min(14em, 90%); */
    }

    .section-media {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        min-width: none;
    }
</style>