---
import { Icon } from "astro-icon/components"

const { text, url, icon, newTab, style, invert, classList, fill, popoverTarget} = Astro.props
---
{popoverTarget ? 
    <button 
        class={`button ${classList} ${style === "tertiary" ? "utility" : "caption"} ${invert ? "color-invert" : ""}`} 
        data-style={style}
        data-fill={fill ? "true" : "false"}
        popovertarget={popoverTarget}
    >
        {text}
        {icon && <Icon name={icon} class="icon" />}
    </button>
:
    <a 
        class={`button ${classList} ${style === "text-link" ? "utility" : "caption"} ${invert ? "color-invert" : ""}`} 
        href={url} 
        target={newTab ? "_blank" : ""} 
        data-style={style}
        data-fill={fill ? "true" : "false"}
    >
        {text}
        {icon && <Icon name={icon} class="icon" />}
    </a>
}

    

<style>
    .button[data-fill="true"] {
        width: 100%;
    }
</style>