---
interface Props {
    title?: string,
    text?: string,
    url?: string,
    theme?: string,
    animateViewport?: boolean,
    animation?: string,
    animationDelay?: number,
    pagefindMetaTitle?: string,
    pagefindMetaText?: string,
    pagefindMetaUrl?: string,
    newTab?: boolean
}

const { title, text, url, theme, pagefindMetaTitle, pagefindMetaText, pagefindMetaUrl, newTab } = Astro.props
---
{url ? 
    <a 
        class={`tag ${theme === "dark" ? "glass-dark" : ""}`} 
        href={url}
        data-theme={theme}
        data-color-scheme={theme === "glass-dark" ? "glass-dark" : "default"}
        data-pagefind-meta={pagefindMetaUrl}
        target={newTab ? "_blank" : "_self"}
    >
        {title && <span class="title caption" data-pagefind-meta={pagefindMetaTitle}>{title}</span>}
        {text && <span class="text caption" data-pagefind-meta={pagefindMetaText}>{text}</span>}
    </a>
:    
    <div 
        class={`tag ${theme === "dark" ? "glass-dark" : ""}`} 
        data-theme={theme}
        data-color-scheme={theme === "glass-dark" ? "glass-dark" : "default"}
    >
        {title && <span class="title caption" data-pagefind-meta={pagefindMetaTitle}>{title}</span>}
        {text && <span class="text caption" data-pagefind-meta={pagefindMetaText}>{text}</span>}
    </div>
}

<style>
    .tag {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        padding-inline: var(--space-2xs);
        padding-block: var(--space-3xs);
        gap: 0.2em;
        flex: 0 0 auto;
        border-radius: var(--radius-sm);
        /* color: inherit; */
        transition: background-color var(--anim-sm);
        background-color: var(--color-background-secondary);
    }

    :global([data-color-scheme="glass-dark"]) .tag {
        background-color: var(--color-lighter);
        color: var(--color-darkest);
    }

    .title {
        color: var(--color-foreground-secondary);
    }

    /* a.tag:not(.glass-dark):hover {
        background-color: var(--color-light);
    } */
</style>