---
import { Icon } from "astro-icon/components"

const { text, url, icon, newTab, style, invert, classList} = Astro.props
---
<a 
    class={`button ${classList} ${style === "tertiary" ? "utility" : "caption"} ${invert ? "color-inver" : ""}`} 
    href={url} 
    target={newTab ? "_blank" : ""} 
    data-style={style}
>
    {text}
    {icon && <Icon name={icon} class="icon" />}
</a>