---
import type { SanityAsset } from '@sanity/image-url/lib/types/types';
import { urlFor } from '../utils/cms-queries';
import AtomSanityImage from './atom-sanityImage.astro';

interface Props {
  image?: SanityImage,
  video?: MuxVideo,
  sizes: string,
  videoWidth?: string,
  videoHeight?: string,
  cover?: boolean,
  eager?: boolean,
  aspectRatio?: number,
  alt?: string,
  transitionName?: string,
}

const { video, image, sizes, eager, aspectRatio, cover, alt, videoWidth, videoHeight, transitionName } = Astro.props;
// console.log(video)
---


{video ? 
    <mux-player
        playback-id={video.asset.playbackId}
        metadata-video-title={video.asset.filename}
        autoplay
        loop
        muted
        style={{ aspectRatio: aspectRatio }}
        width={videoWidth}
        height={videoHeight}
        data-cover={cover ? "true" : "false"}
        nohotkeys
    ></mux-player>
    : image ?
    <AtomSanityImage 
        image={image}
        sizes={sizes}
        eager={eager}
        aspectRatio={aspectRatio}
        cover={cover}
        alt={alt}
    />
    : <p>NO MEDIA</p>
}

<style>
    mux-player {
      --media-object-fit: cover;
      --media-object-position: center;
      --controls: none;
      --dialog: none;
      --loading-indicator: none;
      /* object-fit: cover; */
    }

    mux-player[data-cover="true"] {
      height: 100%;
    }

</style>