---
const { content, authors } = Astro.props;
import { PortableText } from "astro-portabletext";
import SanityInlineImage from './SanityInlineImage.astro';
import SanitySchema from './SanitySchema.astro';
import SanityImage from "../../../atoms/SanityImage.astro";
import YouTubeEmbed from "../../../atoms/YouTubeEmbed.astro";

// console.log(authors)
---
<section class="blog-post-body" data-animate-load="true" data-animate-style="fade">
  <PortableText
    value={content}
    components={{
      type: {
        inlineImage: SanityInlineImage,
        youTubeEmbed: YouTubeEmbed,
        schema: SanitySchema,
      }
    }}
  />
  <div class="authors">
    {authors.map((author) => (
      <span class="author-card">
        <div class="author-media">
          <SanityImage
            sizes="10vw"
            image={author.image}
          />
        </div>
        <span class="author-text">
          <div class="author-info">
            <p class="author-name h6">{author.name}</p>
            <p class="author-title utility">{author.title}</p>
          </div>
          { author.bio && <p class="caption">{author.bio}</p>}
        </span>
      </span>
    ))}
  </div>
</section>

<style is:global>
  .blog-post-body {
    flex: 0 1 100%;
    --content-inset: var(--space-xl);
  }

  .blog-post-body > *:first-child {
    margin-top: 0;
  }

  .blog-post-body h1,
  .blog-post-body h2,
  .blog-post-body h3,
  .blog-post-body h4,
  .blog-post-body h5,
  .blog-post-body h6,
  .blog-post-body p,
  .blog-post-body ol,
  .blog-post-body ul,
  .blog-post-body li {
    margin: 0;
    font-family: inherit;
    padding-inline: var(--space-xl);
    width: 100%;
    max-width: 55rem;
  }

  .blog-post-body h1,
  .blog-post-body h2,
  .blog-post-body h3,
  .blog-post-body h4,
  .blog-post-body h5,
  .blog-post-body h6 {
    margin-block: 0.8em 0.2em;
  }

.blog-post-body p {
  margin-block: 0 1em;
  line-height: 1.4;
}

.blog-post-body img {
  width: 100%;
  height: auto;
  margin-block: 0.5em 2em;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.blog-post-body ol,
.blog-post-body ul {
  margin-block: 1.5em 2em;
  padding-inline: var(--space-3xl) 0;
}

.blog-post-body li {
  margin-block: 0 0.8em;
  margin-inline: 0 0;
  padding-inline: var(--space-xs) 0;
  /* width: calc(100% - 0.8em); */
}

.blog-post-body a {
    text-decoration: underline;
    text-underline-offset: 0.1em;
  }

.blog-post-body blockquote {
  padding-inline: 0;
  color: var(--color-foreground-secondary);
}

.blog-post-body blockquote::before {
  content: '"';
}

.blog-post-body .authors {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: var(--space-3xl);
}

.blog-post-body .author-card {
  display: flex;
  flex-direction: row;
  gap: var(--space-lg);
  /* align-items: flex-start; */
  align-items: center;
  padding: var(--space-lg) var(--space-md);
  border-top: 1px solid var(--color-border);
}

.blog-post-body .author-card p {
  margin: 0;
  padding: 0;
}

.blog-post-body .author-media {
  /* width: clamp(80px, 2vw, 100px); */
  flex: 0 0 max(80px, 10vw);
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-rounded);
  overflow: hidden;
}

.blog-post-body .author-text {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  max-width: 45ch;
}

.blog-post-body .author-info {
}



@media screen and (max-width: 960px) {

  .blog-post-body {
    --content-inset: 0;
  }

  .postContent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: var(--space-2xl) var(--page-margin);
    gap: var(--space-2xl);
  }

  .blog-post-body h1,
  .blog-post-body h2,
  .blog-post-body h3,
  .blog-post-body h4,
  .blog-post-body h5,
  .blog-post-body h6,
  .blog-post-body p,
  .blog-post-body ol,
  .blog-post-body ul,
  .blog-post-body li {
    padding-inline: 0;
  }


  .blog-post-body ol,
  .blog-post-body ul {
    padding-inline: var(--space-lg) 0;
  }

  .blog-post-body .author-card {
    padding-inline: 0;
  }

}
</style>