---
import { sanityClient } from "sanity:client"
import { imageBaseFields, urlFor } from "../../../global/utils/cms-queries"

const { eyebrow, heading, subheading, textColor } = Astro.props

const clients = await sanityClient.fetch(`*[_type == "type_client" && count( *[_type == "type_project" && agencyBrand->slug.current == 'studio' && references(^._id) ]) > 0 ]{ title, logoDark{${imageBaseFields}}, logoLight{${imageBaseFields}}, orderRank }| order(orderRank)[0...6] `)
// console.log(clients)
---
<section class="home-about" data-color={textColor === "light" ? "light" : "dark"}>
    <div class="section-text">
        {eyebrow && <p class="utility">{eyebrow}</p>}
        {heading && <h2 class="h2">{heading}</h2>}
        {subheading && <p class="body">{subheading}</p>}
    </div>
    <div class="client-logos">
        {clients.map((client) => (
            <img class="client-logo" src={urlFor(textColor === "light" ? client.logoLight : client.logoDark).url()} alt={`${client.title} logo`} />
        ))}
    </div>
</section>

<style>
    .home-about {
        position: relative;
        z-index: 1;
        min-height: 90svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: var(--space-xl);
    }

    .home-about[data-color="light"] {
        color: var(--color-studio-lightest);
    }

    .section-text {
        max-width: 40em;
        display: flex;
        flex-direction: column;
        gap: var(--space-md);
    }

    .client-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-xl);
        max-width: 80vw;
    }

    .client-logo {
        flex: 0 0 auto;
        height: auto;
        max-height: 2em;
        max-width: 8em;

    }
</style>