---
import AtomSanityMedia from "../../../global/atoms/atom-sanityMedia.astro"
import { replaceStringIcons } from "../../../global/utils/inline-icon-text"

const { heading, subheading, eyebrow, button, textColor, backgroundImage, backgroundVideo } = Astro.props

const iconText = replaceStringIcons(heading)
---
<div id="studio-home-hero" class="hero-banner">
    <section class="home-hero" data-color={textColor === "light" ? "light" : "dark"}>
        <div class="section-content">
            <div class="section-text">
                {eyebrow && <p class="utility anim-fade-up">{eyebrow}</p>}
                <!-- {heading && <h1 class="anim-fade-up">{heading}</h1>} -->
                {heading && <h1 class="anim-fade-up"><Fragment set:html={iconText}></h1>}
                {subheading && <p class="caption anim-fade-up">{subheading}</p>}
            </div>
            {button.text && button.url &&
                <a class={`button anim-fade-up ${textColor === "light" ? "color-invert" : "d"}`} href={button.url}>{button.text}</a>
            }
        </div>
    </section>
    <div class="background-media">
        <AtomSanityMedia 
            video={backgroundVideo}
            image={backgroundImage}
            cover={true}
            sizes="100vw"
        />
    </div>
</div>

<script>
    import { fadeUp, gsap, addParallax } from "../../../global/utils/gsap"

    const animateSection = () => {
        const section = document.getElementById('studio-home-hero')
        const fadeUpElements = section.querySelectorAll('.anim-fade-up')
        const backgroundMedia = section.querySelectorAll('.background-media')
        const animTimeline = gsap.timeline({ defaults: {duration:1, ease: "power4.out"}})
        if (fadeUpElements) fadeUp(fadeUpElements, animTimeline, ">", 0.2)
        // addParallax(backgroundMedia)
    }

    window.addEventListener("preload:complete", () => {
        animateSection()
    })
</script>

<style>

    .hero-banner {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: clip;
    }

    .home-hero {
        position: relative;
        z-index: 1;
        padding-inline: var(--page-margin);
        min-height: 95svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-hero[data-color="light"] {
        color: var(--color-studio-lightest);
    }

    .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-md);
    }

    .section-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 40em;
        gap: var(--space-sm);
    }

    .background-media {
        position: absolute;
        inset: 0;
        height: 100%;
    }
</style>