---
import { Icon } from "astro-icon/components"
import SanityImage from "../../../atoms/SanityImage.astro"
import BackLink from "../../../atoms/BackLink.astro"

const { name, excerpt, location, socialLinks, websiteLabel, websiteUrl, logo } = Astro.props
// console.log(socialLinks)
---
<section class="partners-post-sidebar">

  <div class="logo">
    <SanityImage
      image={logo}
      sizes="20vw"
      alt={`Brand logo for ${name}`}
    />
  </div>

  <div class="content">
    <div class="text">
      <h1 class="h3">{name}</h1>
      <p class="description caption">{excerpt}</p>
    </div>
    
    {socialLinks &&
      <div class="social-links">
        {socialLinks.linkedinUrl && <a href={socialLinks.linkedinUrl} target="_blank" class="social-link"><Icon name="social-linkedin" class="social-icon"/></a>}
        {socialLinks.twitterUrl && <a href={socialLinks.twitterUrl} target="_blank" class="social-link"><Icon name="social-twitter" class="social-icon"/></a>}
        {socialLinks.instagramUrl && <a href={socialLinks.instagramUrl} target="_blank" class="social-link"><Icon name="social-instagram" class="social-icon"/></a>}
        {socialLinks.youtubeUrl && <a href={socialLinks.youtubeUrl} target="_blank" class="social-link"><Icon name="social-youtube" class="social-icon"/></a>}
        {socialLinks.tiktokUrl && <a href={socialLinks.tiktokUrl} target="_blank" class="social-link"><Icon name="social-tiktok" class="social-icon"/></a>}
      </div>
    }

    {location && <div class="location"><Icon name="brand-pin" class="brand-icon" /><p>{location}</p></div> }

    {websiteUrl && websiteLabel &&
      <a href={websiteUrl} target="_blank" class="website"><Icon name="brand-globe" class="brand-icon" /><p>{websiteLabel}</p></a>
    }
  </div>
  <!-- <div class="backlink">
    <BackLink text="All Partners" url="/partners" />
  </div> -->

</section>

<style>

  .backlink {
    margin-top: var(--space-lg);
  }

  .partners-post-sidebar {
    --logo-width: clamp(40px, 30vw, 80px);
    --inset-inline: var(--space-md);
    width: 100%;
  }

  .logo {
    background: var(--color-background);
    border-radius: var(--radius-rounded);
    border: 1px solid var(--color-border);
    overflow: hidden;
    width: var(--logo-width);
    margin-left: var(--inset-inline);
    margin-bottom: calc(var(--logo-width) / 2 * -1);
    position: relative;
  }

  .content {
    background: var(--color-background);
    border-radius: var(--radius-lg);
    padding: calc(var(--logo-width) / 2 + var(--space-md)) var(--inset-inline) var(--space-md);
    display: flex;
    flex-direction: column;
    /* gap: var(--space-lg); */
  }

  .text {
    padding-bottom: var(--space-sm);
  }

  .location,
  .website {
    border-top: 1px solid var(--color-border);
    padding-block: var(--space-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
  }

  .brand-icon {
    width: 1rem;
    height: auto;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
    padding-block: var(--space-sm);
  }

  .social-icon {
    width: 1.2em;
    height: auto;
  }
</style>