---
import ArrowLink from "./ArrowLink.astro"
import SanityImage from "./SanityImage.astro"

const { name, excerpt, logo, slug, style } = Astro.props
---
<div class="partner-card" data-style={style} data-animate-viewport="true" data-animate-style="fade">
  <div class="media">
    <SanityImage 
      image={logo}
      sizes="20vw"
      alt={`Brand logo for ${name}`}
    />
  </div>
  <div class="content">
    <div class="text">
      <a href={`/partners/${slug}`}><h3 class="h4">{name}</h3></a>
      <p class="caption">{excerpt}</p>
    </div>
    <ArrowLink
      text="Learn More"
      url={`/partners/${slug}`}
    />
  </div>
</div>

<style>
  .partner-card {
    --thumbnail-size: max(20px, 30%);
    display: flex;
    flex-direction: column;
  }

  /* .partner-card[data-style="grid"] {
    flex: 0 1 33%;
  } */

  .media {
    width: var(--thumbnail-size);
    /* width: max(20px, 30%); */
    background: var(--color-foreground);
    border-radius: var(--radius-rounded);
    margin-inline: var(--space-md);
    margin-bottom: calc(var(--thumbnail-size) / 2 * -1);
  }

  .content {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    padding: calc(var(--thumbnail-size) / 2 + var(--space-sm)) var(--space-md) var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    flex: 1 0 auto;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

</style>