---
import { urlFor } from "../../utils/sanityClient";
import SanityImage from "./SanityImage.astro";

const { title, subtitle, image, slug, style } = Astro.props;
console.log(image)
---
<a class="project-card" data-style={style} href={`/work/${slug}`}>
  <div class="media">
    <SanityImage
      image={image}
      sizes={style == 'large' ? "60vw, (max-width: 768px) 100vw" : "33vw, (max-width: 768px) 50vw"}
      aspectRatio={3 / 4}
    />
  </div>
  <div class="project-info">
    <h2 class="project-title h4">{title}</h2>
    <p class="project-subtitle">{subtitle}</p>
  </div>
</a>

<style>
  .project-card {
    /* aspect-ratio: 3 / 4; */
    position: relative;
    border-radius: var(--radius-lg);
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    grid-column: auto;
    grid-row: auto;
    /* flex-shrink: 0;
    flex-basis: auto; */
  }

  .project-card[data-style="large"] {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }

  .media {
    width: 100%;
    /* height: 100%; */
    /* inset: 0; */
    /* object-fit: cover; */
    z-index: 0;
    /* scale: 1.05; */
    transition: scale var(--anim-md);
  }

  .project-info {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-sm);
    color: var(--color-reverse);
    word-break: break-word;
  }

  @media screen and (max-width: 768px) {

    .project-card {
      grid-column: auto / span 2;
      grid-row: auto / span 2;
    }

    .work_project-card[data-style="large"] {
      /* grid-column: auto;
      grid-row: auto; */
    }

    .project-info {
      padding: var(--space-xs);
    }

    .project-subtitle {
      /* display: none; */
    }
  }
</style>