---
const { links, activeLink, slugRoot, rootLabel } = Astro.props
// console.log(links)
console.log(activeLink)
---
<ul class="sidebar-links">
  <li class="sidebar-link-item" data-active={!activeLink ? "true" : "false"}>
    <a class="sidebar-link" href={slugRoot}>{rootLabel}</a>
  </li>
  {links.map((linkItem) => (
    <li class="sidebar-link-item" data-active={activeLink && linkItem.slug.current == activeLink.slug.current ? "true" : "false"}>
      <a class="sidebar-link" href={`${slugRoot}/${linkItem.slug.current}`}>
        {linkItem.name}
      </a>
    </li>
  ))}
</ul>

<style>
  .sidebar-links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-sm);
    flex: 0 0 auto;
  }

  .sidebar-link-item {
    list-style: none;
    position: relative;
  }

  .sidebar-link-item::before {
    content: "";
    width: 0.2em;
    height: 0.2em;
    background: var(--color-foreground);
    border-radius: var(--radius-rounded);
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    opacity: 0;
    transition: opacity var(--anim-sm);
  }

  .sidebar-link-item[data-active="true"]::before {
    opacity: 1;
  }

  .sidebar-link-item[data-active="true"] {
  }

  .sidebar-link {
    display: block;
    translate: 0em 0;
    transition: translate var(--anim-sm);
    color: var(--color-foreground-secondary);
  }

  .sidebar-link-item[data-active="true"] .sidebar-link {
    translate: 0.5em 0;
    color: var(--color-foreground);
  }

  @media screen and (max-width: 960px) {
    .sidebar-links {
      padding-bottom: var(--space-sm);
      flex-direction: row;
      align-items: center;
      gap: var(--space-md);
      overflow-x: auto;
      max-width: 100%;
    }

    .sidebar-link-item {
      list-style: none;
      position: relative;
      flex: 0 0 auto;
    }

    .sidebar-link-item::before {
      height: 1px;
      border-radius: var(--radius-rounded);
      top: unset;
      bottom: -0.2em;
      width: 100%;
      translate: 0 0;
    }


    .sidebar-link-item[data-active="true"] {

    }

    .sidebar-link {
      display: block;
      translate: 0em 0;
      transition: translate var(--anim-sm);
    }

    .sidebar-link-item[data-active="true"] .sidebar-link {
      translate: 0 0;
    }
  }
</style>