---
import AtomButton from "../../atoms/atom-button.astro"

const { node } = Astro.props
---
<aside class="call-to-action" data-color-scheme="secondary">
    <div class="section-title">
        <p class="h3">{node.heading}</p>
        {node.subheading && <p>{node.subheading}</p>}
    </div>
    {node.button && node.button.text && node.button.url &&
        <AtomButton 
            text={node.button.text}
            url={node.button.url}
            newTab={node.button.newTab}
        />
    }
</aside>

<style>
.call-to-action {
    margin-block: var(--space-xl);
    margin-inline: auto;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-secondary);
    padding: var(--space-xl);
    margin-block: var(--space-lg);
    border-radius: var(--radius-sm);
    text-align: center;
    gap: var(--space-sm);
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>