---
import Layout from '../../layouts/Layout.astro';
import BlogIndexHero from '../../components/sections/blog/blogIndex/BlogIndexHero.astro';
import BlogIndexFeed from '../../components/sections/blog/blogIndex/BlogIndexFeed.astro';
import BlogIndexSidebar from '../../components/sections/blog/blogIndex/BlogIndexSidebar.astro';
import { getBlogPageContent } from '../../utils/sanityClient';

const data = await getBlogPageContent();
// console.log(data)
---

<Layout 
    title="Insights"
    theme="light"
>
    <BlogIndexHero
        heading={data.content.heading}
        subheading={data.content.subheading}
        post={data.content.featuredPost}
    />

    <div class="blog-index-main">
        
        <BlogIndexSidebar
            content={data.categories}
        />

        <BlogIndexFeed
            content={data.posts}
        />

    </div>

</Layout>

<script>
    
    document.addEventListener("astro:page-load", () => {
        const searchParams = new URLSearchParams(window.location.search);

        if (searchParams.has('category')) {
            console.log(searchParams.get('category'))
        }
    })
    
    
</script>

<style>
    .blog-index-main {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-start;
        padding: var(--space-2xl) 0;
        gap: var(--space-xl);
    }

    @media screen and (max-width: 768px) {

        .blog-index-main {
            flex-direction: column;
        }
    }
</style>
