---
import { urlFor } from '../lib/cms-queries';
import ViewportAnimation from '../animation/ViewportAnimation.astro';
import { VisualEditing } from '@sanity/astro/visual-editing'
import { getEnv } from '../lib/getEnv';

import '../styles/global/lenis.css'
import '../styles/global/base.css'
import '../styles/global/animation.css'
import '../styles/global/spacing.css'
import '../styles/global/typography.css'
import '../styles/global/color.css'
import '../styles/global/buttons.css'
import '../styles/global/forms.css'
import type { SanityAsset } from '@sanity/image-url/lib/types/types';
import GlobalPreloader from '../components/global/global-Preloader.astro';
import GlobalCookieNotice from '../components/global/global-CookieNotice.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
	image: string;
	favicon: SanityAsset;
	backgroundColor?: string;
	foregroundColor?: string;
	searchFilter?: string;
	currentBrand: any;
	noIndex?: boolean;
	showPreloader?: boolean;
	cookieNoticeText: Array<any>;
	brand?: string;
	locale?: string;
	indexSearch?: boolean;
}

Astro.response.headers.set("Cache-Control", "public, max-age=300, s-maxage=3600");

const { title, description, image, favicon, searchFilter, currentBrand, noIndex, cookieNoticeText, showPreloader, locale, brand, indexSearch } = Astro.props;

const currentPath = Astro.url.pathname;
const visualEditingEnabled = getEnv('PUBLIC_SANITY_VISUAL_EDITING_ENABLED', Astro.locals)
---

<!doctype html>
<html lang={locale ? locale : "en"} data-brand={brand ? brand : "Domaine"}>
	<head>

		<meta name="robots" content={noIndex ? "noindex" : "all"}>

		<!-- Add back once live -->
		<link rel="preconnect" href="https://www.googletagmanager.com">
		<link rel="preconnect" href="https://cdn.sanity.io">
		<!-- <link rel="preconnect" href="https://snap.licdn.com"> -->
		<!-- <link rel="preconnect" href="https://www.google-analytics.com"> -->

		 <!-- Setup Consent Mode -->
		 <script is:inline>
			if (typeof window !== 'undefined') {
				window.dataLayer = window.dataLayer || [];
				function gtag() { dataLayer.push(arguments); }

				if (localStorage.getItem('consentMode') === null) {
					gtag('consent', 'default', {
						'ad_user_data': 'denied',
						'ad_personalization': 'denied',
						'ad_storage': 'denied',
						'analytics_storage': 'denied',
						'wait_for_update': 500,
					});
					dataLayer.push({'gtm.start': new Date().getTime(), 'event': 'gtm.js'})
				} else {
					gtag('consent', 'default', JSON.parse(localStorage.getItem('consentMode')))
				}
			}
		</script>

		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-M36NWV8B');</script>
		<!-- End Google Tag Manager -->

		<!-- HTML Meta Tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={favicon ? urlFor(favicon).url() : ""}>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={`https://www.meetdomaine.com${currentPath}`} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://meetdomaine.com/">
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={image ? urlFor(image).url() : ""}>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="meetdomaine.com">
		<meta property="twitter:url" content="https://meetdomaine.com/">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={image ? urlFor(image).url() : ""}>

	</head>
	<body>

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M36NWV8B"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<!-- <ClientRouter /> -->
		<!-- <VisualEditing enabled={visualEditingEnabled} /> -->

    <GlobalPreloader
      showPreloader={showPreloader}
			brand={brand}
			locale={locale}
    />
    
		<GlobalCookieNotice 
			content={cookieNoticeText}
			brand={brand}
			locale={locale}
		/>
		<slot />
		<ViewportAnimation />

    <!-- Front chat integration -->
    <script src='https://chat-assets.frontapp.com/v1/chat.bundle.js' is:inline></script>
    <script is:inline>
      window.FrontChat('init', {chatId: '065bffd753c9111b8275e69a65e7ff26', useDefaultLauncher: true});
    </script>

	</body>
</html>

<script>
	import '@mux/mux-player';
	import "@mux/mux-player/themes/minimal";
	import { initLenis } from '../lib/lenis';

	document.addEventListener("DOMContentLoaded", () => {
    initLenis()
  })
</script>

<!-- <script define:vars={{ showPreloader }}>
  if (!showPreloader) {
    const preloadComplete = new Event("preload:complete");
    // window.dispatchEvent(preloadComplete)
    window.addEventListener("DOMContentLoaded", () => {
      window.dispatchEvent(preloadComplete)
    })
  }
</script> -->

<style>
  @media screen and (max-width: 860px) {
    :global(#front-chat-iframe) {
      display: none !important;
    }
  }
</style>