---
import { sanityClient } from 'sanity:client';
import LayoutGlobal from './Layout-Global.astro';
import Header from '../components/global/header/global-Header.astro';
import Footer from '../components/global/global-Footer.astro';
import AtomHubspotForm from '../components/global/atoms/atom-hubspotForm.astro';
import { getBrandSettings_Domaine, getFooterSettings_Domaine } from "../components/global/utils/cms-content"
import GlobalCookieNotice from '../components/global/global-CookieNotice.astro';
interface Props {
	title: string;
	description?: string;
	image?: string;
	theme?: string;
    backgroundColor?: string;
    foregroundColor?: string;
    searchFilter?: string;
    activePath?: string;
    searchExposed?: boolean,
    noIndex?: boolean, 
}
const { title, description, image, searchFilter, activePath, searchExposed, noIndex } = Astro.props;
const currentBrand = await getBrandSettings_Domaine()
const footerSettings = await getFooterSettings_Domaine()
// console.log(footerSettings)
---
<LayoutGlobal
    title={`${title ? title : "Home"} | ${currentBrand.metafields.title}`}
    description={ description ? description : currentBrand.metafields.description }
    favicon={currentBrand.favicon}
    image={image ? image : currentBrand.metafields.image}
    searchFilter={searchFilter}
    currentBrand={currentBrand}
    noIndex={noIndex}
    cookieNoticeText={currentBrand.cookieNoticeText}
>
    <main>
        <slot />
    </main>

    <Footer currentBrand={currentBrand} footerSettings={footerSettings}>
      <AtomHubspotForm 
          formId={footerSettings.newsletterHubspotFormId}
      />
  </Footer>
</LayoutGlobal>