---
import { sanityClient } from 'sanity:client';
import LayoutGlobal from './Layout-Global.astro';
import Header from '../components/global/header/global-Header.astro';
import Footer from '../components/global/global-Footer.astro';
import AtomHubspotForm from '../components/global/atoms/atom-hubspotForm.astro';

interface Props {
	title: string;
	description?: string;
	image?: string;
	theme?: string;
    backgroundColor?: string;
    foregroundColor?: string;
    searchFilter?: string;
    activePath?: string;
    searchExposed?: boolean,
    noIndex?: boolean, 
}

const { title, description, image, searchFilter, activePath, searchExposed, noIndex } = Astro.props;

// console.log('layout')
const currentBrand = await sanityClient.fetch(`*[_type == "type_agencyBrand" && slug.current == "/"][0]`)
const footerSettings = await sanityClient.fetch(`*[_type == "settings_footer" && _id == "settings_footer--${currentBrand.name === "Studio" ? "studio" : "domaine"}"][0]`)

---
<LayoutGlobal
    title={`${title ? title : "Home"} | ${currentBrand.metafields.title}`}
    description={ description ? description : currentBrand.metafields.description }
    favicon={currentBrand.favicon}
    image={image ? image : currentBrand.metafields.image}
    searchFilter={searchFilter}
    currentBrand={currentBrand}
    noIndex={noIndex}
>
    <Header
        currentBrand={currentBrand}
        activePath={activePath}
        searchExposed={searchExposed}
    />
    <main>
        <slot />
    </main>
    <Footer currentBrand={currentBrand} footerSettings={footerSettings}>
        <AtomHubspotForm 
            formId={footerSettings.newsletterHubspotFormId}
        />
    </Footer>
</LayoutGlobal>