---
import { urlFor } from '../components/global/utils/cms-queries';
import PageLoadAnimation from '../animation/PageLoadAnimation.astro';
import ViewportAnimation from '../animation/ViewportAnimation.astro';
import {VisualEditing} from '@sanity/astro/visual-editing'


import '../styles/global/lenis.css'
import '../styles/global/base.css'
import '../styles/global/animation.css'
import '../styles/global/spacing.css'
import '../styles/global/typography.css'
import '../styles/global/color.css'
import Lenis from '../animation/Lenis.astro';
import type { SanityAsset } from '@sanity/image-url/lib/types/types';

interface Props {
	title: string;
	description: string;
	image: string;
	theme: string;
    favicon: SanityAsset;
	backgroundColor?: string;
	foregroundColor?: string;
}

const visualEditingEnabled = import.meta.env.SANITY_VISUAL_EDITING_ENABLED == 'true'

const { title, description, image, theme, favicon, backgroundColor, foregroundColor } = Astro.props;
const currentPath = Astro.url.pathname;

---

<!doctype html>
<html 
	lang="en" 
	data-theme={theme}
	data-foreground={foregroundColor}
	style={backgroundColor && `background-color: ${backgroundColor};`}>
	<head>

		<!-- Remove once live -->
		<meta name="robots" content="noindex">

		<!-- Add back once live -->
		<!-- <link rel="preconnect" href="https://www.googletagmanager.com">
		<link rel="preconnect" href="https://snap.licdn.com">
		<link rel="preconnect" href="https://www.google-analytics.com"> -->

		<!-- HTML Meta Tags -->
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={urlFor(favicon).url()}>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={`https://www.meetdomaine.com${currentPath}`} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://meetdomaine.com/">
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={urlFor(image).url()}>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="meetdomaine.com">
		<meta property="twitter:url" content="https://meetdomaine.com/">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={urlFor(image).url()}>

		<!-- Google Tag Manager -->
		<!-- <script is:inline>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T5Q9G6VH');
		</script> -->
	</head>
	<body>

		<!-- Google Tag Manager (noscript) -->
		<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5Q9G6VH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
		<!-- End Google Tag Manager (noscript) -->

		<slot />
        <VisualEditing enabled={visualEditingEnabled} zIndex={1000} />
		<PageLoadAnimation />
		<ViewportAnimation />
		<Lenis />
		<!-- <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script> -->
	</body>
</html>

<script>
	import '@mux/mux-player';
	import "@mux/mux-player/themes/minimal";
</script>

<style is:global>
	@view-transition {
		navigation: auto;
	}

    body {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    main {
        flex-grow: 1;
    }
</style>