---
import { sanityClient } from 'sanity:client';
import LayoutGlobal from './LayoutGlobal.astro';
// import Header from '../components/studio/sections/Header.astro';
import Header from '../components/global/global_Header.astro';
import Footer from '../components/studio/sections/Footer.astro';

interface Props {
	title: string;
	description?: string;
	image?: string;
	theme?: string;
    searchFilter?: string;
}

const { title, description, image, theme, searchFilter } = Astro.props;

// SEO
// const seoData = await sanityClient.fetch(`*[_type == "settings_SEO" && _id == "settings_SEO-studio"]`)
// const seoSettings = seoData[0]

// Header
const headerSettings = await sanityClient.fetch(`*[_type == "settings_header-studio"][0]`)

// Footer
const footerData = await sanityClient.fetch(`*[_type == "settings_footer-studio"]`)
const footerSettings = footerData[0]

// Styling
import '../styles/studio/typography.css'
import '../styles/studio/color.css'

// Brand
const brands = await sanityClient.fetch(`*[_type == "type_agencyBrand"]`)
const currentBrand = await sanityClient.fetch(`*[_type == "type_agencyBrand" && name == "Studio"][0]`)
const brandSettings = currentBrand

---
<LayoutGlobal
    title={`${title ? title : "Home"} | ${currentBrand.metafields.title}`}
    description={ description ? description : currentBrand.description }
    theme="dark"
    favicon={brandSettings.favicon}
    image={image ? image : currentBrand.metafields.image}
    searchFilter={searchFilter}
>
    <Header
        brands={brands}
        currentBrand={currentBrand}
        headerSettings={headerSettings}
    />

    <main>
        <slot />
    </main>
    <Footer 
        footerLinks={footerSettings.footerLinks}
    />
</LayoutGlobal>