---
import LayoutGlobal from './Layout-Global.astro';
import Header from '../components/global/header/global-Header.astro';
import Footer from '../components/global/global-Footer.astro';
import { getTranslationString } from '../lib/translations';
import { Brands } from '../enums/brands';
import GlobalMarketingHeader from '../components/global/marketingHeader/global-MarketingHeader.astro';
import { loadQuery } from '../lib/sanity-load-query';
import { richContentFields, imageBaseFields } from '../lib/cms-queries';

interface Props {
	title: string,
	description?: string,
	image?: string,
	theme?: string,
    searchFilter?: string,
    activePath?: string,
    searchExposed?: boolean,
    showPreloader?: boolean,
    locale?: string;
    noIndex?: boolean;
    brand?: string;
    marketingHeader?: boolean;
    marketingHeaderButtonLabel?: string;
    indexSearch?: boolean;
}

const { title, description, image, theme, searchFilter, activePath, searchExposed, showPreloader, locale, marketingHeader, marketingHeaderButtonLabel, indexSearch } = Astro.props;

const { data: brandSettingsData } = await loadQuery({ 
  query: `*[_type == "type_agencyBrand" && name == $brand ][0]{
    ..., 
    cookieNoticeText{ 
      ..., 
      richContent[]{${richContentFields}}
    },
    metafields{ title, description, image{${imageBaseFields}} },
  }`,
  params: { brand: Brands.STUDIO }
})

const footerQuery = `*[_type == "settings_footer" && _id == "settings_footer--studio"][0]`

const brandSettings = brandSettingsData

---
<LayoutGlobal
    title={`${title ? title : "Domaine Studio"} | ${getTranslationString(brandSettings.metafields.title, locale)}`}
    description={ description ? description : brandSettings.metafields.description ? getTranslationString(brandSettings.metafields.description, locale) : null}
    image={image ? image : brandSettings.metafields.image}
    favicon={brandSettings.favicon}
    searchFilter={searchFilter}
    currentBrand={brandSettings}
    cookieNoticeText={brandSettings.cookieNoticeText}
    showPreloader={showPreloader}
    brand={Brands.STUDIO}
    indexSearch={indexSearch}
>
    {marketingHeader ? 
        <GlobalMarketingHeader 
            brand={Brands.STUDIO}
            locale={locale}
            buttonLabel={marketingHeaderButtonLabel}
        />
    :
        <Header
            currentBrand={brandSettings}
            activePath={activePath}
            searchExposed={searchExposed}
            brand={Brands.STUDIO}
        />
    }

    <!-- <Header
        currentBrand={brandSettings}
        activePath={activePath}
        searchExposed={searchExposed}
        brand={Brands.STUDIO}
    /> -->

    <main>
        <slot />
    </main>
    <Footer 
        locale={locale}
        footerQuery={footerQuery}
        brand={Brands.STUDIO}
    />
</LayoutGlobal>