---
import LayoutGlobal from './Layout-Global.astro';
import Header from '../components/global/header/global-Header.astro';
import Footer from '../components/global/global-Footer.astro';
import { getTranslationString, getTranslationRichContent } from '../lib/translations';
import GlobalMarketingHeader from '../components/global/marketingHeader/global-MarketingHeader.astro';
import { Brands } from '../enums/brands';
import { getBrandSettings } from '../lib/cached-content';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';

interface Props {
	title: string;
	description?: string;
	image?: string;
	theme?: string;
    backgroundColor?: string;
    foregroundColor?: string;
    searchFilter?: string;
    activePath?: string;
    searchExposed?: boolean,
    noIndex?: boolean, 
    showPreloader?: boolean;
    locale?: string;
    brand?: string;
    marketingHeader?: boolean;
    marketingHeaderButtonLabel?: string;
    indexSearch?: boolean;
}

const { title, description, image, searchFilter, activePath, searchExposed, noIndex, showPreloader, locale, marketingHeader, marketingHeaderButtonLabel, indexSearch } = Astro.props;


const { data: headerSettings} = await getEntry('globalSettingsDomaine', 'headerSettings')
const { data: footerSettings} = await getEntry('globalSettingsDomaine', 'footerSettings')
const { data: brandSettings} = await getEntry('globalSettingsDomaine', 'brandSettings')

// console.log(brandSettings?.cookieNoticeText.translations)
// console.log(brandSettings?.cookieNoticeText)

// const test = getTranslationRichContent(brandSettings.cookieNoticeText, locale)
// console.log(test)
---
<LayoutGlobal
    title={`${title ? title : "Home"} | ${getTranslationString(brandSettings.metafields.title, locale)}`}
    description={ description ? description : brandSettings.metafields.description ? getTranslationString(brandSettings.metafields.description, locale) : null }
    image={image ? image : brandSettings.metafields.image}
    favicon={brandSettings.favicon}
    searchFilter={searchFilter}
    currentBrand={brandSettings}
    noIndex={noIndex}
    cookieNoticeText={brandSettings?.cookieNoticeText}
    showPreloader={showPreloader}
    locale={locale}
    indexSearch={indexSearch}
>
    <!-- {marketingHeader ?
        <GlobalMarketingHeader
            locale={locale}
            brand={Brands.DOMAINE}
            buttonLabel={marketingHeaderButtonLabel}
        />
    :
        <Header
            headerSettings={headerSettings}
            currentBrand={brandSettings}
            activePath={activePath}
            searchExposed={searchExposed}
            brand={Brands.DOMAINE}
            locale={locale}
            transition:name='header'
        />
    } -->
    <main>
        <slot />
    </main>
    <!-- <Footer
        footerSettings={footerSettings}
        locale={locale} 
    /> -->
</LayoutGlobal>