---
import { sanityClient } from 'sanity:client';
import LayoutGlobal from './Layout-Global.astro';
import Header from '../components/global/header/global-Header.astro';
import Footer from '../components/global/global-Footer.astro';
import '../styles/studio/typography.css'
import '../styles/studio/color.css'
import AtomHubspotForm from '../components/global/atoms/atom-hubspotForm.astro';
import { getBrandSettings_Studio, getFooterSettings_Studio } from '../lib/cms-content';

interface Props {
	title: string,
	description?: string,
	image?: string,
	theme?: string,
    searchFilter?: string,
    activePath?: string,
    searchExposed?: boolean,
    showPreloader?: boolean,
    locale?: string;
    noIndex?: boolean;
}

const { title, description, image, theme, searchFilter, activePath, searchExposed, showPreloader } = Astro.props;

const currentBrand = await getBrandSettings_Studio()
const footerSettings = await getFooterSettings_Studio()
---
<LayoutGlobal
    title={`${title ? title : "Home"} | ${currentBrand.metafields.title}`}
    description={ description ? description : currentBrand.description }
    favicon={currentBrand.favicon}
    image={image ? image : currentBrand.metafields.image}
    searchFilter={searchFilter}
    currentBrand={currentBrand}
    cookieNoticeText={currentBrand.cookieNoticeText}
    showPreloader={showPreloader}
>
    <Header
        currentBrand={currentBrand}
        activePath={activePath}
        searchExposed={searchExposed}
    />

    <main>
        <slot />
    </main>
    <Footer currentBrand={currentBrand} footerSettings={footerSettings}>
        <AtomHubspotForm 
            formId={footerSettings.newsletterHubspotFormId}
        />
    </Footer>
</LayoutGlobal>