---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/sections/header/Header.astro';
import HeaderMobile from '../components/sections/header/HeaderMobile.astro';
import Footer from '../components/sections/footer/Footer.astro'
import { getSEOSettings, urlFor } from '../utils/sanityClient';
import CustomCursor from '../components/atoms/CustomCursor.astro'
// import LenisScroll from '../components/global/LenisScroll.astro'

interface Props {
	title: string;
	description?: string;
	image?: string;
	theme?: string;
}

const data = await getSEOSettings();
const { title, description, image, theme } = Astro.props;
const currentPath = Astro.url.pathname;

import '../variables/typography.css';
import '../variables/spacing.css';
import '../variables/color.css';
import '../variables/buttons.css';
import '../variables/forms.css';
---

<!doctype html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={`https://www.meetdomaine.com${currentPath}`} />
		<meta name="generator" content={Astro.generator} />

		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-8YW8NFYNGR"></script>
		<script src="../utils/lenis.js"></script>

		<!-- Google Analytics -->
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
		
			gtag('config', 'G-8YW8NFYNGR');
		</script>

		<!-- Google Tag Manager -->
		<script is:inline>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T5Q9G6VH');
		</script>

		<!-- HTML Meta Tags -->
		<meta name="description" content={ description ? description : data[0].siteDescription }>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://meetdomaine.com/">
		<meta property="og:type" content="website">
		<meta property="og:title" content={`${title} | ${data[0].siteTitle}`}>
		<meta property="og:description" content={ description ? description : data[0].siteDescription }>
		<meta property="og:image" content={ image ? image : urlFor(data[0].siteImage).url() }>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="meetdomaine.com">
		<meta property="twitter:url" content="https://meetdomaine.com/">
		<meta name="twitter:title" content={`${title} | ${data[0].siteTitle}`}>
		<meta name="twitter:description" content={description ? description : data[0].siteDescription}>
		<meta name="twitter:image" content={image ? image : urlFor(data[0].siteImage).url()}>

		<title>{title} | {data[0].siteTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5Q9G6VH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<!-- <CustomCursor /> -->
		<Header />
		<HeaderMobile />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	* {
		  /* Browser Resets */
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		box-sizing: border-box;
	}

	:root {

		/* Animation */
		--anim-easing: cubic-bezier(0.22, 1, 0.36, 1);
		--anim-sm: 0.3s var(--anim-easing);
		--anim-md: 0.8s var(--anim-easing);
		--anim-lg: 1.2s var(--anim-easing);

	}

	html.lenis {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: hidden;
	}

	.lenis.lenis-scrolling iframe {
		pointer-events: none;
	}

	html[data-loading="true"] {
		cursor: wait;
	}

	body {
		margin: 0;
		padding: 0;
	}

	


</style>
