---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/sections/header/Header.astro';
import HeaderMobile from '../components/sections/header/HeaderMobile.astro';
import Footer from '../components/sections/footer/Footer.astro'
import { getSEOSettings, urlFor } from '../utils/sanityClient';
import CustomCursor from '../components/atoms/CustomCursor.astro'
// import LenisScroll from '../components/global/LenisScroll.astro'

interface Props {
	title: string;
	description?: string;
	image?: string;
	theme?: string;
}

const data = await getSEOSettings();
const { title, description, image, theme } = Astro.props;
const currentPath = Astro.url.pathname;

import '../variables/typography.css';
import '../variables/spacing.css';
import '../variables/color.css';
---

<!doctype html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href={`https://www.meetdomaine.com${currentPath}`} />
		<meta name="generator" content={Astro.generator} />

		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-8YW8NFYNGR"></script>
		<script src="../utils/lenis.js"></script>

		<!-- Google Analytics -->
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
		
			gtag('config', 'G-8YW8NFYNGR');
		</script>

		<!-- Google Tag Manager -->
		<script is:inline>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T5Q9G6VH');
		</script>

		<!-- HTML Meta Tags -->
		<!-- <title>Domaine</title> -->
		<meta name="description" content={ description ? description : data[0].siteDescription }>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://meetdomaine.com/">
		<meta property="og:type" content="website">
		<meta property="og:title" content={`${title} | ${data[0].siteTitle}`}>
		<meta property="og:description" content={ description ? description : data[0].siteDescription }>
		<meta property="og:image" content={ image ? image : urlFor(data[0].siteImage).url() }>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="meetdomaine.com">
		<meta property="twitter:url" content="https://meetdomaine.com/">
		<meta name="twitter:title" content={`${title} | ${data[0].siteTitle}`}>
		<meta name="twitter:description" content={description ? description : data[0].siteDescription}>
		<meta name="twitter:image" content={image ? image : urlFor(data[0].siteImage).url()}>

		<title>{title} | {data[0].siteTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5Q9G6VH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<CustomCursor />
		<Header />
		<HeaderMobile />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	* {
		  /* Browser Resets */
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		box-sizing: border-box;
	}

	:root {
		/* Forms */
		--form-field-background: transparent;
		--form-field-radius: 4px;
		--form-field-gap-inline: var(--space-xs);
		--form-field-gap-block: var(--space-sm);
		--form-toggle-size: 1em;
		--form-field-border: var(--color-border);

		/* Animation */
		--anim-easing: cubic-bezier(0.22, 1, 0.36, 1);
		--anim-sm: 0.3s var(--anim-easing);
		--anim-md: 0.8s var(--anim-easing);
		--anim-lg: 1.2s var(--anim-easing);

	}

	html.lenis {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: hidden;
	}

	.lenis.lenis-scrolling iframe {
		pointer-events: none;
	}

	html[data-loading="true"] {
		cursor: wait;
	}

	body {
		margin: 0;
		padding: 0;
	}

	button,
	.button,
	.hs-button {
		background: var(--color-foreground);
		color: var(--color-background);
		display: flex;
		flex-direction: row;
		gap: var(--space-xs);
		border-radius: var(--radius-rounded);
		padding: var(--space-xs) var(--space-md);
		border: none;
		cursor: pointer;
		transition: background var(--anim-sm), color var(--anim-sm);
	}

	button svg,
	.button svg {
		width: var(--icon-md);
		translate: 0px;
		transition: translate var(--anim-sm);
	}

	button:hover,
	.button:hover 
	.hs-button {
		background: var(--color-brand);
		color: var(--color-brand-contrast);
	}

	button:hover svg,
	.button:hover svg {
		translate: var(--space-2xs);
	}

	button.button-secondary,
	.button.button-secondary {
		background: transparent;
		border: 1px solid var(--color-foreground);
		color: var(--color-foreground);
	}

	button.button-secondary:hover,
	.button.button-secondary:hover {
		background: var(--color-foreground);
		color: var(--color-background);
	}

	button.button-tertiary,
	.button.button-tertiary {
		padding: 0;
		background: transparent;
		border: none;
		color: var(--color-foreground);
	}

	button.button-radio,
	.button.button-radio {
		background: transparent;
		border: 1px solid var(--color-border);
		color: var(--color-foreground);
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--space-xs);
	}

	button.button-radio.active,
	.button.button-radio.active {
		background: var(--color-foreground);
		color: var(--color-background);
	}

	.text-link {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--space-2xs);
		transition: color var(--anim-sm);
		color: var(--color-foreground);
		padding-block: var(--space-xs);
	}

	.text-link:hover {
		color: var(--color-foreground-secondary);
	}

	.text-link svg {
		translate: 0 0;
		transition: translate var(--anim-sm);
	}

	.text-link:hover svg {
		translate: -5px 0;
	}


	

	/* Hubspot Styling -- Global */

	form,
	.hs-form {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: var(--form-field-gap-block);
	}

	.hs-form-field {
	}

	.hs-form-field label,
	.hs-input[type="file"] {
		--min-size: 14;
		--base-size: 16;
		letter-spacing: 0;
		margin: 0;
		color: var(--color-foreground) !important;
	}

	.hs-field-desc {
		--min-size: 12;
		--base-size: 12;
		letter-spacing: 0;
		margin: 0;
		padding: 0;
		color: var(--color-foreground-secondary);
		margin-top: var(--space-2xs);
	}

	.hs-form-booleancheckbox-display a,
	.hs-form-checkbox-display a,
	.hs-form-radio-display a,
	.hs-field-desc a {
		text-decoration: underline;
		color: inherit;
	}

	.hs-field-desc + .input,
	label + .input {
		margin-top: var(--space-xs);
	}

	.input {
		margin-right: 0 !important;
	}

	.hs-input[type="text"],
	.hs-input[type="email"],
	.hs-input[type="number"],
	.hs-input[type="file"],
	select,
	textarea {
		width: 100% !important;
	}

	input,
	select,
	textarea {
		border: 1px solid var(--color-border);
		background-color: var(--form-field-background);
		border-radius: var(--form-field-radius);
		padding: var(--space-xs);
		color: var(--color-foreground);
		transition: border var(--anim-sm);
		width: 100%;
		max-width: 100%;
		position: relative;
	}

	input:hover,
	select:hover,
	textarea:hover {
		border-color: var(--color-foreground);
	}

	select:hover {
		cursor: pointer;
	}

	input::placeholder,
	select::placeholder,
	textarea::placeholder {
		color: var(--color-foreground-secondary);
	}

	select {
		color: var(--color-foreground);
	}

	select option {
		width:80%;
	}

	/* Hubspot Styling -- Layout */

	.form-columns-1,
	.form-columns-2 {
		width: 100%;
		max-width: 100% !important;
	}

	.form-columns-2 {
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: flex-start;
		gap: var(--form-field-gap-inline);
	}

	.hs-dependent-field {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: var(--form-field-gap-block);
	}


	/* Hubspot Styling -- Text Area */
	
	textarea,
	.hs-fieldtype-textarea {
		font-family: inherit;
	}

	/* Hubspot - Radio Input */

	.inputs-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: var(--space-sm);
		margin: 0;
		padding: 0;
		list-style: none;
		/* margin-top: var(--space-sm); */
	}

	.hs-form-booleancheckbox-display,
	.hs-form-checkbox-display,
	.hs-form-radio-display {
		--min-size: 12 !important;
		--base-size: 12 !important;
		letter-spacing: 0;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		gap: var(--space-xs);
		cursor: pointer;
	}

	.hs-form-booleancheckbox-display p {
		--min-size: 12;
		--base-size: 12;
	}

	.hs-form-booleancheckbox-display span {
		margin: 0 !important;
	}

	.hs-input[type="radio"],
	.hs-input[type="checkbox"],
	input[type="radio"],
	input[type="checkbox"] {
		flex: 0 0 auto;
		width: var(--form-toggle-size) !important;
		height: var(--form-toggle-size) !important;
		margin: 0;
		padding: 0;
		appearance: none;
		background-color: transparent;
		font: inherit;
		color: inherit;
		border: 1px solid currentColor;
		position: relative;
		-webkit-appearance: none;
	}

	.hs-input[type="radio"],
	.hs-input[type="radio"]::before,
	input[type="radio"],
	input[type="radio"]::before {
		border-radius: var(--radius-rounded);
	}

	.hs-input[type="checkbox"],
	.hs-input[type="checkbox"]::before,
	input[type="checkbox"],
	input[type="checkbox"]::before {
		border-radius: 0;
	}

	input[type="radio"]::before,
	input[type="checkbox"]::before {
		--fill-size: 60%;
		content: "";
		width: var(--fill-size);
		height: var(--fill-size);
		position: absolute;
		background-color: currentColor;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		opacity: 0;
		transition: opacity var(--anim-sm);
	}

	input[type="radio"]:checked::before,
	input[type="checkbox"]:checked::before {
		opacity: 1;
	}

	/* Hubspot Styling -- Button */

	.hs-button {
		width: 100%;
		text-align: center;
		margin-top: var(--space-md);
		justify-content: center;
	}

	/* Hubspot Styling -- Error */

	.hs-error-msgs {
		margin: var(--space-2xs) 0 0;
		padding: 0;
	}

	.hs-error-msgs li {
		list-style: none;
		width: 100%;
		text-align: center;
	}


	/* Hubspot Styling -- Rich Text */

	.hs-error-msg,
	.hs-richtext p,
	.hs-richtext a {
		font-weight: normal;
		font-size: 12px;
		color: var(--color-foreground-secondary);
	}

	.hs-richtext a {
		text-decoration: underline;
	}

	.hs-error-msg {
		width: 100%;
		display: block;
		letter-spacing: -0.02em;
		background-color: var(--color-error);
		color: var(--color-reverse);
		border-radius: var(--form-field-radius);
		padding: var(--space-2xs) var(--space-xs);
	}

	/* Radio Button Group */

	.radio-button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
		margin-bottom: var(--space-sm);
  }

	.button-radio {
		padding-inline: var(--space-sm);
	}

	.radio-button-group .button-radio {
		border-radius: 0;
	}

	.radio-button-group .button-radio:first-child {
    border-radius: var(--radius-rounded) 0 0 var(--radius-rounded);
  }

	.radio-button-group .button-radio:last-child {
    border-radius: 0 var(--radius-rounded) var(--radius-rounded) 0;
  }

</style>
