---
import { getRelatedProjects } from "../../../utils/sanityClient";
import ArrowLink from "../../atoms/ArrowLink.astro";
import ProjectCard from "../../atoms/ProjectCard.astro";
const { project } = Astro.props;

const data = await getRelatedProjects(project);
const relatedProjectCount = 3;
let actualIndex = 0
---

<section class='related-projects'>
  <div class="section-title">
    <h2 class="heading">{data.relatedProjects.length > relatedProjectCount ? "Related Projects" : "Other Projects"}</h2>
    <ArrowLink text="View All" url="/work" style="large" />
  </div>
  <div class="projects-wrapper"> 
    {data.relatedProjects.length >= relatedProjectCount ? (
      
      data.relatedProjects.slice(0, relatedProjectCount).map((project, i) => (
        <div class="project-card-wrapper">
          <ProjectCard 
            title={project.title} 
            subtitle={project.subtitle}
            image={project.thumbnail}
            slug={project.slug.current}
            style={data.relatedProjects.length < 2 ? "wide" : "default"}
          />
        </div>
      ))
    ) : (
      data.allOtherProjects.slice(0, relatedProjectCount).map((project) => (
          <ProjectCard 
            title={project.title} 
            subtitle={project.subtitle}
            image={project.thumbnail}
            slug={project.slug.current}
            style="default"
          />
        )
      )
    )
    }
  </div>
</section>


<style>

  .related-projects {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: var(--space-xl) var(--page-margin);
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gap);
  }

  @media screen and (max-width: 768px) {

    .related-projects {

      /* overflow-x: auto; */
    }
    .projects-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
</style>