---
import { Icon } from "astro-icon/components"
import AtomHubspotForm from "./atoms/atom-hubspotForm.astro"
import { getAgencyBrands } from "./utils/cms-content"
import { getRawSvg } from "./utils/raw-svg"

const { currentBrand, footerSettings } = Astro.props

const agencyBrands = await getAgencyBrands()

const logos = await agencyBrands.map( async (brand) => {
    return await getRawSvg(brand.logo)
})


---
<footer data-color-scheme="brand-02">
    <div class="footer-inner">

        <div class="footer-cta">
            <div class="cta-text">
                <h2 class="heading">{footerSettings.heading}</h2>
                <a 
                    href={footerSettings.button.url} 
                    class="button" data-style="primary"
                >
                    {footerSettings.button.text}
                    <Icon name="arrow-diagonal" />
                </a>
            </div>
            {footerSettings.showIcon && 
                <Icon name="dot-peace" class="cta-icon" />
            }
        </div>

        <div class="footer-info__primary">

            <div class="link-columns">
                {footerSettings.linkColumns.map((column) => (
                    <div class="link-column">
                        <p class="link-column___title">{column.title}</p>
                        <div class="link-column__links">
                            {column.links.links.map((link) => (
                                <a class="link-column__link" href={link.linkUrl} target={link.newTab ? "_blank" : "_self"}>{link.linkText} </a>
                            ))}
                        </div>
                    </div>
                ))}
            </div>
             <div class="footer-form">
                <p class="footer-form__title">{footerSettings.newsletterHeading}</p>
                <slot />
            </div>

        </div>

        <div class="footer-info__secondary">
            <div class="agency-brands">
                {footerSettings.agencyBrandsHeading && 
                    <div class="agency-brands__title">
                        {footerSettings.agencyBrandsHeading}
                    </div>
                }
                <div class="agency-brands__content">
                    {agencyBrands.map((brand, i) => (
                        <a class="brand-card" href={brand.url}>
                            <div class="brand-logo">
                                <Fragment set:html={logos[i]} />
                            </div>
                            <div class="brand-info">
                                <p class="brand-info__title h6">{brand.name}</p>
                                <p class="brand-info__excerpt caption">{brand.excerpt}</p>
                            </div>
                        </a>
                    ))}
                </div>
            </div>
        </div>

    </div>


    <div class="subfooter">

        <div class="social-links">
            {footerSettings.instagramUrl &&
                <a href={footerSettings.instagramUrl} target="_blank"><Icon name="social-instagram" class="social-icon" /></a>
            }
            {footerSettings.twitterUrl &&
                <a href={footerSettings.twitterUrl} target="_blank"><Icon name="social-twitter" class="social-icon" /></a>
            }
            {footerSettings.linkedInUrl &&
                <a href={footerSettings.linkedInUrl} target="_blank"><Icon name="social-linkedin" class="social-icon" /></a>
            }
            {footerSettings.emailAddress &&
                <a 
                  href={`mailto:${footerSettings.emailAddress}?subject=Domaine | Agency Website Contact`} 
                  class="email-button"
                ><Icon name="icon-email" class="social-icon" />{footerSettings.emailAddress}</a>
            }
        </div>

        <div class="subfooter-links">
            {footerSettings.legalLinks.links.map((link) => (
                <a class="subfooter-link caption" href={link.linkUrl} target={link.newTab ? "_blank" : "_self"}>{link.linkText} </a>
            ))}
            {footerSettings.copyrightText && <p class="subfooter-link caption">{footerSettings.copyrightText} </p>}
        </div>
    </div>

</footer>

<style>

    footer {
        --inline-gap: var(--space-lg);
        min-height: 100svh;
        padding-inline: var(--page-margin);
        padding-block: calc(var(--header-height) * 1.5) var(--space-md);
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        /* justify-content: space-between; */
        align-items: stretch;
        gap: var(--space-2xl);
        border-top: 1px solid var(--color-border);
        /* justify-content: space-between; */
    }

    .footer-inner {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: stretch;
        flex-grow: 1;
        gap: var(--space-3xl);
    }

    .footer-inner,
    .subfooter {
        width: calc(100% - var(--notification-menu-width) - var(--inline-gap));
        /* max-width: 70%; */
    }

    .footer-cta {
        /* padding-bottom: var(--space-2xl); */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--space-sm);
    }

    .cta-text {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        flex: 1 0 20em;
    }

    .cta-icon {
        flex: 0 1 10em;
        height: auto;
    }

    .footer-cta .heading {
        max-width: 15em;
    }

    .footer-cta .button {
        max-width: 30rem;
    }

    .footer-info__primary {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: var(--space-2xl);
        flex-grow: 1;
        /* border-top: 1px solid var(--color-border); */
        /* padding-top: var(--space-2xl); */
    }

    .link-columns {
        display: flex;
        flex-direction: row;
        gap: var(--space-sm);
        flex: 0 0 auto;

    }

    .link-column {
        display: flex;
        flex-direction: column;
        /* gap: var(--space-lg); */
        padding-right: var(--space-xl);
    }

    .link-column,
    .footer-form {
        gap: var(--space-md);
    }

    .link-column__title {
        color: var(--color-border);
    }

    .link-column__links {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }

    .link-column__link {
        text-decoration: none;
    }

    .footer-form {
        display: flex;
        flex-direction: column;
        flex: 0 0 min(30rem, 100%);
        /* max-width: 24rem; */
    }

    .footer-form :global(form) {
        margin-bottom: 0;
    }

    .footer-form__title {
        color: var(--color-brand-contrast-subdued);
    }

    .footer-form :global(.legal-consent > p)  {
        color: var(--color-brand-contrast-subdued);
    }

    .footer-info__secondary {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* gap: var(--space-2xl); */
    }

    .agency-brands {
        display: flex;
        flex-direction: column;
        /* flex: 0 0 min(40rem, 100%); */
    }

    .agency-brands__title {
        display: flex;
        flex-direction: column;
    }

    .agency-brands__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: var(--space-lg);
    }

    .brand-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-xs);
        text-decoration: none;
        flex: 1 0 18rem;
    }

    .brand-logo {
        aspect-ratio: 3 / 2;
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-background-secondary);
        border-radius: var(--radius-sm);
    }

    .brand-logo :global(svg) {
        width: 60%;
    }

    .brand-info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--space-2xs);
    }

    .brand-info__title {
        margin: 0;
    }

    .brand-info__excerpt {
        color: var(--color-brand-contrast-subdued)
    }

    .agency-brands__title,
    .practices__title {
        /* padding-bottom: var(--space-md); */
        color: var(--color-brand-contrast-subdued);
    }

    .agency-brands__content,
    .practices__content {
        padding-top: var(--space-md);
        /* border-top: 1px solid var(--color-border); */
    }

    .practices {
        flex: 1 0 auto;
        min-width: 15em;
    }

    .subfooter {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: var(--space-md);
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .social-links {
        display: flex;
        flex-direction: row;
        gap: var(--space-md);
    }

    .social-icon {
        width: var(--icon-md);
        height: var(--icon-md);
    }

    .email-button {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-2xs);
    }

    .subfooter-links {
        display: flex;
        flex-direction: row;
        gap: var(--space-md);
    }

    .subfooter-link {
        text-decoration: none;
        color: var(--color-brand-contrast-subdued);
        flex: 0 0 auto;
    }

    @media screen and (width <= 768px) {
        .footer-inner,
        .subfooter {
            width: auto;
        }

        .subfooter-links {
            flex-wrap: wrap;
        }
    }
</style>