---
import { Icon } from "astro-icon/components";
import SearchMenu from "./search/SearchMenu"
import { sanityClient } from "sanity:client";
import { imageFields, videoFields } from "./utils/cms-queries";
import ContactMenu from "./global-ContactMenu.astro";

const { headerSettings, currentBrand } = Astro.props;

const brands = [
    {
        path: "/",
        logo: "domaine-wordmark",
        title: "Domaine",
        description: "Purpose-built for ambitious & beloved enterprise brands."
    },
    {
        path: "/studio",
        logo: "domaine-studio",
        title: "Domaine Studio",
        description: "Tailor-made for the needs of small & medium businesses."
    },
]

const brandIndex = brands.findIndex(brand => brand.path == currentBrand.url )
const defaultBlogPosts = await sanityClient.fetch(`*[_type == "type_blog" ]{title, slug, thumbnailImage{${imageFields}}, category->{slug}, postDate } | order( postDate desc)[0...3]`)
const defaultProjects = await sanityClient.fetch(`*[_type == "type_project"]{orderRank, title, slug, thumbnailMedia{${videoFields}, ${imageFields}} } | order( orderRank asc)[0...5]`)
const defaultFeatures = await sanityClient.fetch(`*[_type == "type_projectFeature"]{title, slug, orderRank } | order( orderRank asc)[0...10]`)
const defaultPartners = await sanityClient.fetch(`*[_type == "type_partner"]{title, slug, orderRank } | order(orderRank)[0...10]`)
---
<header id="header" class="glass-dark">

    <div class="header-content">

        <button id="menu-button-mobile" class="utility-button menu-button">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </button>

        <div id="brand-menu" class="brand-menu glass-dark" transition:name="brand-menu" style={`--brand-count: ${brands.length}; --current-index: ${brandIndex}`}>
            <div class="brands" data-brand={currentBrand.slug.current}>
                {brands.map((brand, i) => (
                    <a href={brand.path} class="brand-link" data-index={i} data-active={brandIndex === i ? "true" : "false"}>
                        <Icon class="logo" name={brand.logo} />
                        <div class="brand-details">
                            <p class="brand-description caption">{brand.description}</p>
                        </div>
                    </a>
                ))}
            </div>
            <div class="icon-expand">
                <span class="expand-line"></span>
                <span class="expand-line"></span>
            </div>
        </div>

        <div id="navigation-menu" class="navigation">

            <div class="brand-cards--mobile">
                {brands.map((brand, i) => {
                    if (brandIndex != i) {
                        return (
                            <a href={brand.path} class="brand-card--mobile" data-index={i} >
                                <div class="brand-card--mobile__header">
                                    <Icon class="logo" name={brand.logo} />
                                    <Icon class="icon" name="arrow-diagonal" />
                                </div>
                                <p class="brand-card--mobile__content">{brand.description}</p>
                            </a>
                        )
                    }
                })}
            </div>

            <nav class="navigation-links">
                {headerSettings.navigationLinks.links.map((link, i) => (
                    <a href={link.linkUrl} class="navigation-link caption" style={`transition-delay: ${0.1 * i}s`}>{link.linkText}</a>
                ))}
            </nav>

            <div class="search-wrapper">
                <button class="search-button glass-dark" popovertarget="search-menu">
                    <Icon class="icon" name="pixel_search" />
                    <span>Search <em>projects, insights, and more...</em></span>
                </button>
            </div>

        </div>

        <div id="utility-menu" class="utility-menu">
            <button class="utility-button notification-button glass-dark">
                <Icon name="pixel_bell" class="utility-icon" />
            </button>
            <button class="utility-button contact-button glass-dark" popovertarget="contact-menu">
                <Icon name="pixel_email" class="utility-icon" />
            </button>
        </div>

    </div>

    <ContactMenu 
        hubspotFormId={headerSettings.hubspotFormId}
        processConsentMessage={headerSettings.processConsentMessage}
        marketingConsentMessage={headerSettings.marketingConsentMessage}
    />

    <dialog popover id="search-menu" class="search-menu">
        <button class="close-button" popovertarget="search-menu">
            <Icon class="icon close-icon" name="pixel_x" />
        </button>
        <SearchMenu 
            client:only="solid-js"
            defaultBlogPosts={defaultBlogPosts}
            defaultProjects={defaultProjects}
            defaultFeatures={defaultFeatures}
            defaultPartners={defaultPartners}
        />
    </dialog>
</header>

<script is:inline>
    const loadSearch = async () => {
        window.pagefind = await import("/pagefind/pagefind.js");
    }
    loadSearch()
</script>

<script>

    document.addEventListener("DOMContentLoaded", async () => {

        const brandMenu: HTMLElement = document.getElementById('brand-menu');
        const navigationMenu: HTMLElement = document.getElementById('navigation-menu');
        const header: HTMLElement = document.getElementById('header');
        const menuButtonMobile: HTMLElement = document.getElementById('menu-button-mobile')

        menuButtonMobile.addEventListener("click", (e) => {
            if (navigationMenu) header.classList.toggle("navigation-open")
        })

        brandMenu.addEventListener("mouseenter", () => {
            brandMenu.classList.add("active")
        })

        brandMenu.addEventListener("mouseleave", () => {
            brandMenu.classList.remove("active")
        })

        const handleBrandNavigate = (element, index) => {
            brandMenu.style.setProperty("--current-index", index)
            element.blur()
        }

        document.addEventListener("pageswap", (e) => {
            if (brandMenu) {
                brandMenu.classList.remove("active")
            }
        })

    })
</script>

<style>

    header {
        position: fixed;
        top: 0;
        z-index: 999;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
    }

    .navigation-links {
        display: flex;
    }

    .navigation-link {
        text-decoration: none;
    }

    .search-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--space-xs);
        width: 100%;
    }

    .search-button em {
        font-style: normal;
        color: var(--color-dark);
    }

    .utility-menu {
        justify-self: flex-end;
        display: flex;
        flex-direction: row;
        gap: var(--space-2xs);
    }

    .utility-button {
        min-width: 0;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex: 0 0 auto;
        color: var(--color-foreground);
    }

    .utility-icon {
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    .brand-card {
        display: none;
    }

        /* --- Search Dialog --- */

        .search-menu {
        margin: var(--space-md);
        width: calc(100% - var(--space-md) * 2);
        height: calc(100% - var(--space-md) * 2);
        color: var(--color-foreground);
        background-color: color-mix(in srgb, var(--color-background) 70%, transparent);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: var(--radius-lg);
        border: none;
        padding: var(--space-md);
        max-height: 0%;
        opacity: 0;
        transition: opacity var(--anim-md), max-height var(--anim-md), display var(--anim-md) allow-discrete;
        display: flex;
        flex-direction: column;
        /* align-items: stretch; */
        gap: var(--space-md);
        display: none;
    }

    .search-menu:popover-open {
        opacity: 1;
        max-height: 100%;
        display: flex;
    }

    .search-menu::backdrop {
        background-color: color-mix(in srgb, var(--color-foreground) 10%, transparent);
    }

    @starting-style {
        .search-menu:popover-open {
            opacity: 0;
            max-height: 0%;
        }
    }

    .close-button {
        padding: 0;
        min-width: unset;
        background-color: transparent;
        align-self: flex-end;
        color: currentColor;
    }

    .close-icon {
        width: var(--icon-md);
        height: var(--icon-md);
    }


    @media screen and (width > 768px) {
        header {
            --header-top-margin: var(--space-xs);
            height: var(--header-height);
            width: 100%;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            background-color: transparent;
            padding-inline: var(--page-margin);
            padding-block: var(--header-padding-block);
        }

        .header-content {
            background-color: transparent;
            display: grid;
            grid-template-columns: 1fr 1.5fr 1fr;
            gap: var(--space-sm);
        }

        .brand-cards--mobile,
        .menu-button {
            display: none;
        }

        .brand-menu {
            --anim-begin: 0.4s;
            --anim-step-1: 0.8s;
            --anim-step-2: 1.0s;
            border-radius: var(--radius-sm);
            height: var(--header-element-height);
            overflow: clip;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-self: flex-start;
            transition: 
                background-color var(--anim-sm),
                height var(--anim-sm);
        }

        .brand-menu.active {
            height: calc( var(--header-element-height) * 4 + var(--space-2xs) * 2);
            background-color: var(--color-lighter);
            transition: 
                background-color var(--anim-md),
                height var(--anim-sm) var(--anim-step-1);
        }

        .brands {
            padding: var(--space-2xs);
        }

        .brand-link {
            text-decoration: none;
            color: var(--color-darkest);
            padding: 0 var(--space-xs);
            /* padding: var(--space-2xs) var(--space-xs); */

            /* flex: 0 0 calc( var(--header-element-height) - var(--space-2xs) * 2); */
            height: calc( var(--header-element-height) - var(--space-2xs) * 2);
            /* flex: 0 0 calc( var(--header-element-height) ); */
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* justify-content: space-between; */
            align-items: flex-start;
            vertical-align: middle;
            gap: 0;
            border-radius: var(--radius-sm);
            width: auto;
            opacity: 0;
            /* vertical-align: middle; */
            transition: 
                flex-basis var(--anim-sm),
                height var(--anim-sm),
                gap var(--anim-sm), 
                color var(--anim-sm), 
                opacity var(--anim-sm), 
                background-color var(--anim-sm);
        }

        .brand-menu.active .brand-link {
            /* flex-basis: calc(var(--header-element-height) * 2); */
            height: calc(var(--header-element-height) * 2);
            color: var(--color-darkest);
            gap: var(--space-2xs);
            opacity: 1;
            transition: 
            /* flex-basis var(--anim-sm) var(--anim-step-1), */
                height var(--anim-sm) var(--anim-step-1),
                gap var(--anim-sm) var(--anim-step-1), 
                opacity var(--anim-lg) var(--anim-step-1), 
                color var(--anim-lg), 
                background-color var(--anim-md);
        }

        .brand-link:hover {
            color: var(--color-darkest);
            background-color: var(--color-lightest);
        }

        .brand-link .logo {
            flex: 0 0 calc(var(--header-element-height) - 25px);
            /* height: auto; */
            /* justify-self: center; */
            /* vertical-align: middle; */
        }

        .brand-link[data-active="true"] {
            opacity: 1;
            color: var(--color-lightest);
        }

        .brand-link .brand-details {
            /* flex: 0 1 0px; */
            /* flex: 0 0 0; */
            opacity: 0;
            /* flex-grow: 0; */
            /* flex-shrink: 1; */
            visibility: hidden;
            color: var(--color-dark);
            overflow: hidden;
            display: grid;
            grid-template-columns: 0fr;
            grid-template-rows: 0fr;
            min-height: 0px;
            margin: 0;
            padding: 0;
            transition: 
                opacity var(--anim-sm),  
                grid-template-columns var(--anim-md) 0.2s,
                grid-template-rows var(--anim-md),
                flex-basis var(--anim-sm);
        }

        .brand-menu.active .brand-details {
            grid-template-columns: 1fr;
            /* flex: 0 0 auto; */
            grid-template-rows: 1fr;
            /* flex: 0 1 fit-content; */
            /* flex: 0 1 100%; */
            opacity: 1;
            visibility: visible;
            transition: 
                grid-template-columns var(--anim-md) var(--anim-begin),
                flex-basis var(--anim-md) var(--anim-begin),
                grid-template-rows var(--anim-sm) var(--anim-step-1),
                opacity var(--anim-lg) var(--anim-step-2);
        }

        .brand-description {
            margin: 0;
            padding: 0;
            min-height: 0;
        }

        .navigation {
            max-width: 25em;
        }

        .navigation-links {
            height: var(--header-element-height);
            background-color: var(--color-lighter);
            align-items: center;
            justify-content: center;
            gap: var(--space-3xs);
            padding-inline: var(--space-2xs);
            padding-block: var(--space-2xs);
            border-radius: var(--radius-sm) var(--radius-sm) 0 0;
        }

        .navigation-link {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 0 auto;
            border-radius: var(--radius-sm);
            background-color: var(--color-lightest);
            transition-delay: 0s !important;
        }

        .search-button {
            height: var(--header-element-height);
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        }

        .search-button em {
            color: var(--color-light);
        }

        .utility-button {
            height: var(--header-element-height);
            width: var(--header-element-height);
        }
    }

    @media screen and (width <= 768px) {
        header {
            --header-top-margin: var(--space-xs);
            height: var(--header-height);
            width: calc(100% - var(--page-margin) * 2);
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            align-items: flex-start;
            border-radius: var(--radius-sm);
            transition: width var(--anim-sm), margin var(--anim-sm), height var(--anim-sm), padding var(--anim-sm), border-radius var(--anim-sm);
        }

        header.navigation-open {
            width: 100%;
            height: 100lvh;
            border-radius: 0;
        }
        
        header,
        header.navigation-open .header-content {
            margin-top: var(--header-top-margin);
            margin-inline: var(--page-margin);
        }

        header.navigation-open,
        .header-content {
            margin: 0;
        }

        .header-content {
            width: calc(100vw - var(--page-margin) * 2);
            background-color: transparent;
            color: var(--color-lightest);
            transition: background-color var(--anim-sm);
            border-radius: var(--radius-sm) var(--radius-sm) 0 0;
            transition: width var(--anim-sm), margin var(--anim-sm), height var(--anim-sm), padding var(--anim-sm), border-radius var(--anim-sm), background-color var(--anim-sm), color var(--anim-sm);
        }

        header.navigation-open .header-content {
            --color-foreground: var(--color-darkest);
            background-color: var(--color-lightest);
            color: var(--color-foreground);
            top: calc( var(--header-top-margin) + var(--header-height));
        }

        .navigation {
            /* visibility: hidden; */
            position: absolute;
            top: var(--header-height);
            left: 0;
            right: 0;
            width: calc(100vw - var(--page-margin) * 2);
            display: flex;
            flex-direction: column-reverse;
            color: var(--color-darkest);
            opacity: 0;
            visibility: hidden;
            transition: top var(--anim-sm), left var(--anim-sm), right var(--anim-sm), top var(--anim-sm), visibility var(--anim-sm), opacity var(--anim-sm);
        }

        header.navigation-open .navigation {
            /* height: 100px; */
            top: var(--header-height);
            left: var(--page-margin);
            right: var(--page-margin);
            top: calc(var(--header-height) + var(--header-top-margin));
            opacity: 1;
            visibility: visible;
        }

        .search-wrapper {
            padding-top: var(--space-md);
        }

        .search-wrapper,
        .navigation-links {
            background-color: var(--color-lighter);
            padding-inline: var(--space-sm);
        }

        .search-button {
            translate: 0 1em;
            opacity: 0;
            transition: translate var(--anim-md), opacity var(--anim-md);
        }

        header.navigation-open .search-button {
            translate: 0 0;
            opacity: 1;
        }

        .navigation-links {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            height: auto;
            gap: var(--space-md);
            padding-block: var(--space-xl);
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        }

        .navigation::after {
            display: none;
        }

        .navigation-link {
            --base-size: 32;
            --min-size: 28;
            letter-spacing: -0.03em;
            translate: 0 0.5em;
            opacity: 0;
            transition: translate var(--anim-md), opacity var(--anim-md);
        }

        header.navigation-open .navigation-link {
            opacity: 1;
            translate: 0 0;
        }

        .menu-button {
            position: relative;
        }

        .hamburger-line {
            width: 25%;
            height: 1px;
            background-color: currentColor;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            transition: translate var(--anim-sm), rotate var(--anim-sm);
        }

        .hamburger-line:nth-child(1) {
            rotate: 0deg;
            translate: -50% 0.2em;
        }

        .hamburger-line:nth-child(2) {
            rotate: 0deg;
            translate: -50% -0.2em;
        }

        header.navigation-open .hamburger-line:nth-child(1) {
            rotate: -45deg;
            translate: -50% 0;
        }

        header.navigation-open .hamburger-line:nth-child(2) {
            rotate: 45deg;
            translate: -50% 0;
        }

        .search-button {
            background-color: var(--color-lightest);
            color: var(--color-darkest);
            height: var(--header-height);
        }


        .notification-button,
        .icon-expand {
            display: none;
        }

        .brand-menu,
        .brand-menu:hover {
            background: transparent;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            filter: none;
            height: var(--header-height);
        }

        .brand-menu {
            flex: 0 1 100%;
            display: flex;
            place-items: center;
            justify-content: center;
            align-items: center;
        }

        .brand-link {
            height: var(--header-height);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .brand-details {
            display: none;
        }

        .brand-link .logo {
            /* height: 50%; */
            flex: 0 0 25%;
            width: auto;
        }

        .brand-link:not([data-active="true"]) {
            display: none;
        }

        .utility-menu {
            height: auto;
        }

        .utility-button {
            /* border: 1px solid var(--color-background); */
            background-color: transparent;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            height: var(--header-height);
            color: currentColor;
        }

        .brand-cards--mobile {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding-top: var(--space-xs);
            gap: var(--space-2xs);
        }

        .brand-card--mobile {
            display: block;
            border-radius: var(--radius-sm);
            background-color: var(--color-lighter);
            overflow: hidden;
            text-decoration: none;
            translate: 0 1em;
            opacity: 0;
            transition: translate var(--anim-lg), opacity var(--anim-lg);
        }

        header.navigation-open .brand-card--mobile {
            translate: 0 0;
            opacity: 1;
            transition-delay: 0.6s;
        }

        .brand-card--mobile__header {
            padding-inline: var(--space-md);
            padding-block: var(--space-sm);
            background-color: var(--color-lightest);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .brand-card--mobile__content {
            padding-inline: var(--space-md);
            padding-block: var(--space-sm);
            color: var(--color-dark);
            margin: 0;
        }


        
    }

</style>