---
import { Icon } from "astro-icon/components";

const { navigationLinks, currentBrand } = Astro.props;

const brands = [
    {
        path: "/",
        logo: "domaine-icon"
    },
    {
        path: "/accelerate",
        logo: "domaine-accelerate"
    },
]

const brandIndex = brands.findIndex(brand => brand.path == currentBrand.url )
---
<header id="header">

    <div class="brand-menu" transition:name="brand-menu" style={`--brand-count: ${brands.length}; --current-index: ${brandIndex}`}>
        <div class="brands-wrapper">
            <div class="brands">
                {brands.map((brand, i) => (
                    <a href={brand.path} class="brand-link" data-index={i}>
                        <Icon class="logo" name={brand.logo} />
                    </a>
                ))}
            </div>
        </div>
        <div class="icon-expand">
            <span class="expand-line"></span>
            <span class="expand-line"></span>
        </div>
    </div>

    <div class="navigation">
        <nav class="navigation-links">
            {navigationLinks.links.map((link, i) => (
                <a href={link.linkUrl} class="navigation-link caption">{link.linkText}</a>
            ))}
            <button class="notification-button">
                <Icon name="pixel_bell" class="notification-icon" />
            </button>
        </nav>
        <div class="search">
            <input 
                type="search" 
                id="site-search" 
                name="search"
                placeholder=""
                class="search-field caption"
            />
            <label for="site-search"><em>Search</em> projects, insights, and more...</label>
            <span class="icon-wrapper">
                <Icon class="search-icon" name="pixel_search" />
                <button id="clear-button" class="search-icon">
                    <Icon class="x-icon" name="pixel_x" />
                </button>
            </span>
        </div>
    </div>

    <div class="utility-links">
        <a href="#" class="caption">Get in Touch</a>
    </div>
</header>

<script>

    let brandMenu: HTMLElement
    let brandLinks: NodeListOf<HTMLAnchorElement>

    const searchField: HTMLInputElement = document.querySelector('.search-field');
    const clearButton = document.querySelector('.x-icon');

    document.addEventListener("astro:page-load", () => {

        brandMenu = document.querySelector('.brand-menu');
        brandLinks = document.querySelectorAll('.navigation-link')

        if (brandMenu) brandMenu.classList.remove("active")

        // console.log(brandLinks)

        brandLinks.forEach((link) => {
            // console.log(link)
            link.addEventListener("click", () => console.log("test"))
        })

        brandMenu.addEventListener("mouseenter", () => {
            if (brandMenu) brandMenu.classList.add("active")
        })

        brandMenu.addEventListener("mouseleave", () => {
            if (brandMenu) brandMenu.classList.remove("active")
        })
    })

    document.addEventListener("astro:before-preparation", (e) => {
        if (brandMenu) {
            brandMenu.classList.remove("active")
            brandMenu.blur()
            if (document.activeElement instanceof HTMLElement && document.activeElement) document.activeElement.blur()
            if (e.sourceElement instanceof HTMLElement && e.sourceElement.dataset && e.sourceElement.dataset.index) brandMenu.style.setProperty("--current-index", e.sourceElement.dataset.index)
        }
    })

    clearButton.addEventListener("click", () => {
        if (searchField) searchField.value = ""
    })
</script>

<style>
    header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding-inline: var(--page-margin);
        padding-block: var(--page-margin) 0;
        position: sticky;
        top: 0;
        height: var(--header-height);
        /* view-transition-name: header; */
    }

    /* --- Brand Menu --- */

    .brand-menu {
        --icon-width: 80px;
        --icon-height: 30px;
        background-color: var(--color-background-secondary);
        position: absolute;
        top: 50%;
        left: var(--page-margin);
        translate: 0 -50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px var(--space-2xs) 2px 2px;
        gap: var(--space-2xs);
        border-radius: var(--radius-md);
        /* overflow: clip; */
    }

    .brands-wrapper {
        position: relative;
        overflow: clip;
        width: var(--icon-width);
        transition: width var(--anim-sm);
    }

    .brand-menu.active .brands-wrapper,
    .brands-wrapper:focus-within {
        width: calc(var(--icon-width) * var(--brand-count));
    }

    .brands {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        width: max-content;
        translate: calc(-1 * var(--icon-width) * (var(--current-index) ) ) 0;
        transition: translate var(--anim-sm);
    }

    .brand-menu.active .brands,
    .brand-menu:focus-within .brands {
        translate: 0 0;
    }

    .brands::before {
        content: "";
        background-color: var(--color-background);
        width: var(--icon-width);
        height: 100%;
        position: absolute;
        left: calc(var(--icon-width) * (var(--current-index)));
        top: 0;
        border-radius: var(--radius-md);
    }

    .brand-link {
        position: relative;
        flex: 0 0 auto;
        width: var(--icon-width);
        padding: var(--space-xs);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid transparent;
    }

    .brand-link:focus-visible {
        outline: none;
        border-radius: var(--radius-md);
        border-color: var(--color-focus);
    }

    .logo {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .icon-expand {
        display: flex;
        flex-direction: row;
        gap: 2px;
    }

    .expand-line {
        width: 1px;
        height: 14px;
        background-color: var(--color-foreground-secondary);
        opacity: 0.2;
    }


    /* --- Navigation Menu --- */

    .navigation {
        background-color: var(--color-light);
        color: var(--color-ink);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-radius: var(--radius-md);
    }

    .navigation-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--space-sm);
        padding: var(--space-xs) var(--space-md);
        border-bottom: 1px solid var(--color-border-ink);
        min-width: 300px;
    }

    .navigation-link {
        padding: 0 var(--space-2xs);
        text-decoration: none;
    }

    .navigation-links .notification-button {
        position: relative;
        padding: 0;
        min-width: unset;
        background-color: transparent;
        color: inherit;
        padding-inline: var(--space-2xs);
    }

    .navigation-links .notification-button:focus-visible {
        outline: 2px solid var(--color-focus);
    }

    .navigation-links .notification-button::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        width: 4px;
        height: 4px;
        background-color: var(--color-brand);
        border-radius: var(--radius-rounded);
    }

    .notification-icon {
        width: var(--icon-sm);
        height: var(--icon-sm);
    }

    .search {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        /* padding-inline: var(--space-md); */
    }

    input[type="search"].search-field {
        flex: 0 0 100%;
        border: none;
        color: var(--color-ink);
        padding-inline: var(--space-md);
    }

    .search label {
        position: absolute;
        top: 50%;
        left: var(--space-md);
        translate: 0 -50%;
        color: var(--color-subdued);
        transition: opacity var(--anim-sm), translate var(--anim-sm);
        opacity: 0;
    }

    .search label em {
        color: var(--color-ink);
        font-style: normal;
    }

    input[type="search"].search-field:placeholder-shown + label {
        opacity: 1;
    }


    input[type="search"].search-field:focus + label {
        opacity: 0;
        translate: 0 -100%;
    }


    input[type="search"].search-field::-webkit-search-cancel-button {
        appearance: none;
    }

    .icon-wrapper {
        position: absolute;
        top: 50%;
        right: var(--space-md);
        translate: 0 -50%;
        width: var(--icon-sm);
        height: var(--icon-sm);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    input[type="search"].search-field:placeholder-shown ~ * ~ .icon-wrapper .search-icon {
        translate: 0 0%;
    }

    .search-icon {
        width: var(--icon-sm);
        height: var(--icon-sm);
        flex: 0 0 auto;
        translate: 0 -100%;
        background-color: transparent;
    }


    #clear-button {
        margin: 0;
        padding: 0;
        min-width: unset;
        background-color: transparent;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #clear-button:focus-visible {
        outline: 1px solid var(--color-focus);
    }

    .x-icon {
        /* width: 100%; */
        width: var(--icon-sm);
        height: var(--icon-sm);
        max-width: 100%;
    }

    .utility-links {
        position: absolute;
        top: 50%;
        right: var(--page-margin);
        translate: 0 -50%;
    }

</style>