---
import { Icon } from "astro-icon/components";
import SearchMenu from "./search/SearchMenu"
import { sanityClient } from "sanity:client";
import { imageFields } from "./utils/cms-queries";

const { navigationLinks, currentBrand } = Astro.props;

const brands = [
    {
        path: "/",
        logo: "domaine-icon"
    },
    {
        path: "/accelerate",
        logo: "domaine-accelerate"
    },
]



const brandIndex = brands.findIndex(brand => brand.path == currentBrand.url )


// const blogPosts = await sanityClient.fetch(`*[_type == "type_blog" && agencyBrand->name == "Domaine" && category->_id == '${content._id}' ] | order( postDate desc)`)
const defaultBlogPosts = await sanityClient.fetch(`*[_type == "type_blog" ]{title, slug, thumbnailImage{${imageFields}}, category->{slug} } | order( postDate desc)[0...3]`)
const defaultProjects = await sanityClient.fetch(`*[_type == "type_project"]{title, slug, thumbnailImage{${imageFields}} } | order( orderRank asc)[0...5]`)

console.log(defaultBlogPosts)
---
<header id="header">

    <div class="brand-menu" transition:name="brand-menu" style={`--brand-count: ${brands.length}; --current-index: ${brandIndex}`}>
        <div class="brands-wrapper">
            <div class="brands">
                {brands.map((brand, i) => (
                    <a href={brand.path} class="brand-link" data-index={i}>
                        <Icon class="logo" name={brand.logo} />
                    </a>
                ))}
            </div>
        </div>
        <div class="icon-expand">
            <span class="expand-line"></span>
            <span class="expand-line"></span>
        </div>
    </div>

    <div class="navigation">
        <nav class="navigation-links">
            {navigationLinks.links.map((link, i) => (
                <a href={link.linkUrl} class="navigation-link caption">{link.linkText}</a>
            ))}
            <button class="notification-button">
                <Icon name="pixel_bell" class="icon" />
            </button>
        </nav>

        <button class="search-button caption" popovertarget="search-menu">
            <span>Search <em>projects, insights, and more...</em></span>
            <Icon class="icon" name="pixel_search" />
        </button>

    </div>

    <div class="utility-links">
        <a href="#" class="utility-link utility">
            <span>Get in Touch!</span>
            <Icon class="icon" name="pixel_email" />
        </a>
    </div>

    <dialog popover id="search-menu" class="search-menu color-invert">
        <button class="close-button" popovertarget="search-menu">
            <Icon class="icon close-icon" name="pixel_x" />
        </button>
        <SearchMenu 
            client:only="solid-js"
            defaultBlogPosts={defaultBlogPosts}
            defaultProjects={defaultProjects}
        />
    </dialog>
</header>

<script is:inline>
    const loadSearch = async () => {
        window.pagefind = await import("/pagefind/pagefind.js");
    }
    loadSearch()
</script>

<script>

    document.addEventListener("astro:page-load", async () => {

        const brandMenu: HTMLElement = document.querySelector('.brand-menu');

        if (brandMenu) {
            brandMenu.classList.remove("active")
            brandMenu.addEventListener("mouseenter", () => brandMenu.classList.add("active"))
            brandMenu.addEventListener("mouseleave", () => brandMenu.classList.remove("active"))
        }

        const handleBrandNavigate = (element, index) => {
            brandMenu.style.setProperty("--current-index", index)
            element.blur()
        }

        document.addEventListener("astro:before-preparation", (e) => {
            if (brandMenu) {
                brandMenu.classList.remove("active")
                if (e.sourceElement instanceof HTMLElement && e.sourceElement.dataset && e.sourceElement.dataset.index) {
                    handleBrandNavigate(e.sourceElement, e.sourceElement.dataset.index)
                }
            }
        })
    })
</script>

<style>
    header {
        --padding-top: var(--space-sm);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding-inline: var(--page-margin);
        padding-block: var(--padding-top) 0;
        position: sticky;
        top: 0;
        height: var(--header-height);
    }

    .icon {
        width: var(--icon-sm);
        height: var(--icon-sm);
    }

    /* --- Brand Menu --- */

    .brand-menu {
        --icon-width: 80px;
        --icon-height: 30px;
        background-color: var(--color-background-secondary);
        position: absolute;
        top: var(--padding-top);
        left: var(--page-margin);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px var(--space-2xs) 2px 2px;
        gap: var(--space-2xs);
        border-radius: var(--radius-md);
    }

    .brands-wrapper {
        position: relative;
        overflow: clip;
        width: var(--icon-width);
        transition: width var(--anim-sm);
    }

    .brand-menu.active .brands-wrapper,
    .brands-wrapper:focus-within {
        width: calc(var(--icon-width) * var(--brand-count));
    }

    .brands {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        width: max-content;
        translate: calc(-1 * var(--icon-width) * (var(--current-index) ) ) 0;
        transition: translate var(--anim-sm);
    }

    .brand-menu.active .brands,
    .brand-menu:focus-within .brands {
        translate: 0 0;
    }

    .brands::before {
        content: "";
        background-color: var(--color-background);
        width: var(--icon-width);
        height: 100%;
        position: absolute;
        left: calc(var(--icon-width) * (var(--current-index)));
        top: 0;
        border-radius: var(--radius-md);
    }

    .brand-link {
        position: relative;
        flex: 0 0 auto;
        width: var(--icon-width);
        padding: var(--space-xs);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid transparent;
    }

    .brand-link:focus-visible {
        outline: none;
        border-radius: var(--radius-md);
        border-color: var(--color-focus);
    }

    .logo {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .icon-expand {
        display: flex;
        flex-direction: row;
        gap: 2px;
    }

    .expand-line {
        width: 1px;
        height: 14px;
        background-color: var(--color-foreground);
        opacity: 0.2;
    }


    /* --- Navigation Menu --- */

    .navigation {
        background-color: var(--color-background-secondary);
        color: var(--color-foreground);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-radius: var(--radius-md);
        /* overflow: clip; */
    }

    .navigation-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--space-sm);
        padding: var(--space-xs) var(--space-md);
        border-bottom: 1px solid var(--color-border);
        min-width: 300px;
    }

    .navigation-link {
        /* padding: 0 var(--space-2xs); */
        text-decoration: none;
    }

    .navigation-links .notification-button {
        position: relative;
        padding: 0;
        min-width: unset;
        background-color: transparent;
        color: inherit;
    }

    .navigation-links .notification-button::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        width: 4px;
        height: 4px;
        background-color: var(--color-brand);
        border-radius: var(--radius-rounded);
    }

    /* --- Search --- */

    .search-button {
        --hover-delay: .2s;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: var(--space-md);
        color: var(--color-foreground);
        background-color: transparent;
        overflow: clip;
        transition: color var(--anim-sm);
        transition-delay: 0s;
        border-radius: 0 0 var(--radius-md) var(--radius-md);
    }

    .search-button * {
        z-index: 2;
    }

    .search-button:hover {
        color: var(--color-brand-contrast);
        transition-delay: var(--hover-delay);
    }

    .search-button::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0%;
        background-color: var(--color-brand);
        transition: height var(--anim-sm);
        transition-delay: 0s;
        z-index: 1;
    }

    .search-button:hover::after {
        height: 100%;
        transition-delay: var(--hover-delay);
    }

    .search-button em {
        color: var(--color-foreground-secondary);
        translate: 0 0%;
        opacity: 1;
        font-style: normal;
        transition: all var(--anim-sm);
        transition-delay: 0s;
        display: inline-block;
    }

    .search-button:hover em {
        opacity: 0;
        transition-delay: var(--hover-delay);
    }

    /* --- Search Dialog --- */

    .search-menu {
        margin: var(--space-md);
        width: calc(100% - var(--space-md) * 2);
        height: calc(100% - var(--space-md) * 2);
        color: var(--color-foreground);
        background-color: color-mix(in srgb, var(--color-background) 70%, transparent);
        backdrop-filter: blur(15px);
        border-radius: var(--radius-lg);
        border: none;
        padding: var(--space-md);
        max-height: 0%;
        opacity: 0;
        transition: opacity var(--anim-sm), max-height var(--anim-sm), display var(--anim-sm) allow-discrete;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--space-md);
        display: none;
    }

    .search-menu:popover-open {
        opacity: 1;
        max-height: 100%;
        display: flex;
    }

    .search-menu::backdrop {
        background-color: color-mix(in srgb, var(--color-foreground) 10%, transparent);
    }

    @starting-style {
        .search-menu:popover-open {
            opacity: 0;
            max-height: 0%;
        }
    }

    .close-button {
        padding: 0;
        min-width: unset;
        background-color: transparent;
        align-self: flex-end;
        color: currentColor;
    }

    .close-icon {
        width: var(--icon-md);
        height: var(--icon-md);
    }


    /* --- Utility Links --- */

    .utility-links {
        position: absolute;
        top: var(--padding-top);
        right: var(--page-margin);
    }

    .utility-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1ch;
        text-decoration: none;
    }



</style>