---
import { sanityClient } from "sanity:client"
import { imageFields } from "./utils/cms-queries"
import AtomSanityImage from "./atoms/atom-sanityImage.astro"

// sessionStorage.removeItem("key");

const { content, brand } = Astro.props
---
<div id="site-preloader" class="preloader" data-brand={brand}>
    <p id="preloader-heading" class="preloader-heading h1">{content.heading}</p>
    {content.images.map((entry, i) => (
        <div 
            class="preloader-image" 
            data-foreground={[0, 2, 4, 7, 9, 11, 12, 14, 16].includes(i) ? "true": "false"}
            data-logo={[0, 7, 12].includes(i) ? "true": "false"}
        >
            <AtomSanityImage 
                image={entry.image}
                sizes="25vw"
                cover={true}
                eager={true}
            />
        </div>
    ))}
</div>

<script>
    import { gsap, SplitText } from "./utils/gsap";


    let showPreloader = false
    let sessionCached = sessionStorage.getItem("cachedSession");

    if (!sessionCached) {
        showPreloader = true
        sessionStorage.setItem("cachedSession", "true");
    }

    const preloadComplete = new Event("preload:complete");

    const handlePreloadComplete = () => {
        window.dispatchEvent(preloadComplete)
    }

    // showPreloader = true
    if (showPreloader) {

        const heading = new SplitText("#preloader-heading", {type: "lines", linesClass: "preloader-text-line"});
        const preloader = document.getElementById("site-preloader")

        const preloaderTimeline = gsap.timeline({ defaults: {duration:0.6, ease: "cubic"} })

        preloaderTimeline.fromTo(".preloader-image[data-foreground='true']", {
            clipPath: 'polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%)'
        }, {
            clipPath: 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)'
        })
        preloaderTimeline.fromTo(".preloader-image[data-foreground='false']", {
            clipPath: 'polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%)'
        }, {
            clipPath: 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)'
        })
        preloaderTimeline.to(".preloader-image[data-logo='false']", {
            clipPath: 'polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)'
        })
        preloaderTimeline.from(heading.lines, {
            // visibility: "visible",
            y: "100%",
            clipPath: "polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%)",
            stagger: 0.2,
        })
        preloaderTimeline.from("#navigation-menu", {
            y: "-150%"
        }, "<+=0.2")
        preloaderTimeline.from("#brand-menu", {
            x: "-150%"
        }, "<+=0.2")
        preloaderTimeline.from("#utility-menu", {
            x: "150%"
        }, "<")
        preloaderTimeline.from(preloader, {
            y: "0%",
            onStart: handlePreloadComplete
        }, "+=0.6")
        preloaderTimeline.from(preloader, {
            opacity: 1,
            visibility: "visible",
            autoAlpha: 1,
        }, ">")

    } else {
        window.addEventListener("DOMContentLoaded", handlePreloadComplete)
    }

</script>

<style is:global>
    .preloader-text-line {
        translate: 0 0%;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
</style>

<style>
    .preloader {
        opacity: 0;
        visibility: hidden;
        translate: 0 -100%;
        --load-duration: 0.8s;
        --load-background-delay: 0.1s;
        --load-out-delay: 0.1s;
        position: fixed;
        width: 100%;
        height: 100dvh;
        z-index: 9;
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: var(--color-background);
        color: var(--color-foreground);
        pointer-events: none;
    }

    .preloader[data-brand="studio"] {
        background-color: var(--color-brand);
        color: var(--color-brand-contrast);
    }

    .preloader-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-width: 0px;
        min-height: 0px;
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    }

    .preloader-heading {
        position: absolute;
        width: 55%;
        top: 50%;
        left: 45%;
        translate: 0 -50%;
        z-index: 2;
    }

    .preloader-image {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }

    @media screen and (max-width: 768px) {

        .preloader {
            padding-block: 30dvh;
        }

        .preloader-heading {
            width: 55%;
            top: unset;
            bottom: var(--space-sm);
            left: var(--space-sm);
            translate: 0% 0%;
        }
    }

</style>